# Analytic Functions â€“ Aggregations:
Let us see how we can perform aggregations with in a partition or group using Windowing/Analytics Functions.
* For simple aggregations where we have to get grouping key and aggregated results we can use `GROUP BY.`
* If we want to get the raw data along with aggregated results, then using `GROUP BY` is not possible or overly complicated.
* Using aggregate functions with `OVER` Clause not only simplifies the process of writing query, but also better with respect to performance.
* Let us take an example of getting employee salary percentage when compared to department salary expense.

In [1]:
%load_ext sql

In [5]:
%env DATABASE_URL=postgresql://retail_user:retail_password@localhost:5432/retail_db

env: DATABASE_URL=postgresql://retail_user:retail_password@localhost:5432/retail_db

In [6]:
%%sql

SELECT
    order_date,
    order_item_product_id,
    revenue,
    sum(revenue) OVER (PARTITION BY order_date) AS sum_revenue,
    min(revenue) OVER (PARTITION BY order_date) AS min_revenue,
    max(revenue) OVER (PARTITION BY order_date) AS max_revenue
FROM daily_product_revenue
ORDER BY order_date,
    revenue DESC
LIMIT 10

10 rows affected.

[(datetime.datetime(2013, 7, 25, 0, 0), 1004, Decimal('5599.72'), Decimal('31547.23'), Decimal('49.98'), Decimal('5599.72')),
 (datetime.datetime(2013, 7, 25, 0, 0), 191, Decimal('5099.49'), Decimal('31547.23'), Decimal('49.98'), Decimal('5599.72')),
 (datetime.datetime(2013, 7, 25, 0, 0), 957, Decimal('4499.70'), Decimal('31547.23'), Decimal('49.98'), Decimal('5599.72')),
 (datetime.datetime(2013, 7, 25, 0, 0), 365, Decimal('3359.44'), Decimal('31547.23'), Decimal('49.98'), Decimal('5599.72')),
 (datetime.datetime(2013, 7, 25, 0, 0), 1073, Decimal('2999.85'), Decimal('31547.23'), Decimal('49.98'), Decimal('5599.72')),
 (datetime.datetime(2013, 7, 25, 0, 0), 1014, Decimal('2798.88'), Decimal('31547.23'), Decimal('49.98'), Decimal('5599.72')),
 (datetime.datetime(2013, 7, 25, 0, 0), 403, Decimal('1949.85'), Decimal('31547.23'), Decimal('49.98'), Decimal('5599.72')),
 (datetime.datetime(2013, 7, 25, 0, 0), 502, Decimal('1650.00'), Decimal('31547.23'), Decimal('49.98'), Decimal('5599.72')),
 (datetime.datetime(2013, 7, 25, 0, 0), 627, Decimal('1079.73'), Decimal('31547.23'), Decimal('49.98'), Decimal('5599.72')),
 (datetime.datetime(2013, 7, 25, 0, 0), 226, Decimal('599.99'), Decimal('31547.23'), Decimal('49.98'), Decimal('5599.72'))]