# Analytic Functions – Ranking¶
Let us see how we can assign ranks using different rank functions.
* If we have to assign ranks globally, we just need to specify `ORDER BY`
* If we have to assign ranks with in a key then we need to specify `PARTITION BY` and then `ORDER BY`.
* By default `ORDER BY` will sort the data in ascending order. We can change the order by passing `DESC` after order by.
* We have 3 main functions to assign ranks - **`rank`**, **`dense_rank`** and **`row_number`**. We will see the differences between the 3 in a moment.

In [1]:
%load_ext sql

In [2]:
%env DATABASE_URL=postgresql://retail_user:retail_password@localhost:5432/retail_db

env: DATABASE_URL=postgresql://retail_user:retail_password@localhost:5432/retail_db

# Note:
Here is an example to assign sparse ranks using daily_product_revenue with in each day based on revenue.

In [4]:
%%sql

SELECT t.*,
    rank() OVER (
        PARTITION BY order_date
        ORDER BY revenue DESC
    ) AS rnk
FROM daily_product_revenue t
ORDER BY order_date, revenue DESC
LIMIT 30

 * postgresql://retail_user:***@localhost:5432/retail_db
30 rows affected.

[(datetime.datetime(2013, 7, 25, 0, 0), 1004, Decimal('5599.72'), 1),
 (datetime.datetime(2013, 7, 25, 0, 0), 191, Decimal('5099.49'), 2),
 (datetime.datetime(2013, 7, 25, 0, 0), 957, Decimal('4499.70'), 3),
 (datetime.datetime(2013, 7, 25, 0, 0), 365, Decimal('3359.44'), 4),
 (datetime.datetime(2013, 7, 25, 0, 0), 1073, Decimal('2999.85'), 5),
 (datetime.datetime(2013, 7, 25, 0, 0), 1014, Decimal('2798.88'), 6),
 (datetime.datetime(2013, 7, 25, 0, 0), 403, Decimal('1949.85'), 7),
 (datetime.datetime(2013, 7, 25, 0, 0), 502, Decimal('1650.00'), 8),
 (datetime.datetime(2013, 7, 25, 0, 0), 627, Decimal('1079.73'), 9),
 (datetime.datetime(2013, 7, 25, 0, 0), 226, Decimal('599.99'), 10),
 (datetime.datetime(2013, 7, 25, 0, 0), 24, Decimal('319.96'), 11),
 (datetime.datetime(2013, 7, 25, 0, 0), 821, Decimal('207.96'), 12),
 (datetime.datetime(2013, 7, 25, 0, 0), 625, Decimal('199.99'), 13),
 (datetime.datetime(2013, 7, 25, 0, 0), 705, Decimal('119.99'), 14),
 (datetime.datetime(2013, 7, 25, 0, 0), 572, Decimal('119.97'), 15),
 (datetime.datetime(2013, 7, 25, 0, 0), 666, Decimal('109.99'), 16),
 (datetime.datetime(2013, 7, 25, 0, 0), 725, Decimal('108.00'), 17),
 (datetime.datetime(2013, 7, 25, 0, 0), 134, Decimal('100.00'), 18),
 (datetime.datetime(2013, 7, 25, 0, 0), 906, Decimal('99.96'), 19),
 (datetime.datetime(2013, 7, 25, 0, 0), 828, Decimal('95.97'), 20),
 (datetime.datetime(2013, 7, 25, 0, 0), 810, Decimal('79.96'), 21),
 (datetime.datetime(2013, 7, 25, 0, 0), 924, Decimal('79.95'), 22),
 (datetime.datetime(2013, 7, 25, 0, 0), 926, Decimal('79.95'), 22),
 (datetime.datetime(2013, 7, 25, 0, 0), 93, Decimal('74.97'), 24),
 (datetime.datetime(2013, 7, 25, 0, 0), 835, Decimal('63.98'), 25),
 (datetime.datetime(2013, 7, 25, 0, 0), 897, Decimal('49.98'), 26),
 (datetime.datetime(2013, 7, 26, 0, 0), 1004, Decimal('10799.46'), 1),
 (datetime.datetime(2013, 7, 26, 0, 0), 365, Decimal('7978.67'), 2),
 (datetime.datetime(2013, 7, 26, 0, 0), 957, Decimal('6899.54'), 3),
 (datetime.datetime(2013, 7, 26, 0, 0), 191, Decimal('6799.32'), 4)]

# Note:
Let us understand the difference between `rank`, `dense_rank` and `row_number`.
* We can use either of the functions to generate ranks when the rank field does not have duplicates.
* When rank field have duplicates then row_number should not be used as it generate unique number for each record with in the partition.
* `rank` will skip the ranks in between if multiple people get the same rank while `dense_rank` continue with the next number.

In [5]:
%%sql

SELECT
    t.*,
    rank() OVER (
        PARTITION BY order_date
        ORDER BY revenue DESC
    ) rnk,
    dense_rank() OVER (
        PARTITION BY order_date
        ORDER BY revenue DESC
    ) drnk,
    row_number() OVER (
        PARTITION BY order_date
        ORDER BY revenue DESC
    ) rn
FROM daily_product_revenue AS t
ORDER BY order_date, revenue DESC
LIMIT 30

 * postgresql://retail_user:***@localhost:5432/retail_db
30 rows affected.

[(datetime.datetime(2013, 7, 25, 0, 0), 1004, Decimal('5599.72'), 1, 1, 1),
 (datetime.datetime(2013, 7, 25, 0, 0), 191, Decimal('5099.49'), 2, 2, 2),
 (datetime.datetime(2013, 7, 25, 0, 0), 957, Decimal('4499.70'), 3, 3, 3),
 (datetime.datetime(2013, 7, 25, 0, 0), 365, Decimal('3359.44'), 4, 4, 4),
 (datetime.datetime(2013, 7, 25, 0, 0), 1073, Decimal('2999.85'), 5, 5, 5),
 (datetime.datetime(2013, 7, 25, 0, 0), 1014, Decimal('2798.88'), 6, 6, 6),
 (datetime.datetime(2013, 7, 25, 0, 0), 403, Decimal('1949.85'), 7, 7, 7),
 (datetime.datetime(2013, 7, 25, 0, 0), 502, Decimal('1650.00'), 8, 8, 8),
 (datetime.datetime(2013, 7, 25, 0, 0), 627, Decimal('1079.73'), 9, 9, 9),
 (datetime.datetime(2013, 7, 25, 0, 0), 226, Decimal('599.99'), 10, 10, 10),
 (datetime.datetime(2013, 7, 25, 0, 0), 24, Decimal('319.96'), 11, 11, 11),
 (datetime.datetime(2013, 7, 25, 0, 0), 821, Decimal('207.96'), 12, 12, 12),
 (datetime.datetime(2013, 7, 25, 0, 0), 625, Decimal('199.99'), 13, 13, 13),
 (datetime.datetime(2013, 7, 25, 0, 0), 705, Decimal('119.99'), 14, 14, 14),
 (datetime.datetime(2013, 7, 25, 0, 0), 572, Decimal('119.97'), 15, 15, 15),
 (datetime.datetime(2013, 7, 25, 0, 0), 666, Decimal('109.99'), 16, 16, 16),
 (datetime.datetime(2013, 7, 25, 0, 0), 725, Decimal('108.00'), 17, 17, 17),
 (datetime.datetime(2013, 7, 25, 0, 0), 134, Decimal('100.00'), 18, 18, 18),
 (datetime.datetime(2013, 7, 25, 0, 0), 906, Decimal('99.96'), 19, 19, 19),
 (datetime.datetime(2013, 7, 25, 0, 0), 828, Decimal('95.97'), 20, 20, 20),
 (datetime.datetime(2013, 7, 25, 0, 0), 810, Decimal('79.96'), 21, 21, 21),
 (datetime.datetime(2013, 7, 25, 0, 0), 924, Decimal('79.95'), 22, 22, 22),
 (datetime.datetime(2013, 7, 25, 0, 0), 926, Decimal('79.95'), 22, 22, 23),
 (datetime.datetime(2013, 7, 25, 0, 0), 93, Decimal('74.97'), 24, 23, 24),
 (datetime.datetime(2013, 7, 25, 0, 0), 835, Decimal('63.98'), 25, 24, 25),
 (datetime.datetime(2013, 7, 25, 0, 0), 897, Decimal('49.98'), 26, 25, 26),
 (datetime.datetime(2013, 7, 26, 0, 0), 1004, Decimal('10799.46'), 1, 1, 1),
 (datetime.datetime(2013, 7, 26, 0, 0), 365, Decimal('7978.67'), 2, 2, 2),
 (datetime.datetime(2013, 7, 26, 0, 0), 957, Decimal('6899.54'), 3, 3, 3),
 (datetime.datetime(2013, 7, 26, 0, 0), 191, Decimal('6799.32'), 4, 4, 4)]

In [6]:
%%sql

SELECT t.*,
    round(sum(t.revenue) OVER (
        ORDER BY order_date
        ROWS BETWEEN 2 PRECEDING AND 2 FOLLOWING
    ), 2) AS moving_3day_revenue
FROM daily_revenue t
ORDER BY order_date
LIMIT 20

 * postgresql://retail_user:***@localhost:5432/retail_db
20 rows affected.

[(datetime.datetime(2013, 7, 25, 0, 0), Decimal('31547.23'), Decimal('134671.94')),
 (datetime.datetime(2013, 7, 26, 0, 0), Decimal('54713.23'), Decimal('170343.97')),
 (datetime.datetime(2013, 7, 27, 0, 0), Decimal('48411.48'), Decimal('224923.67')),
 (datetime.datetime(2013, 7, 28, 0, 0), Decimal('35672.03'), Decimal('242705.73')),
 (datetime.datetime(2013, 7, 29, 0, 0), Decimal('54579.70'), Decimal('247204.99')),
 (datetime.datetime(2013, 7, 30, 0, 0), Decimal('49329.29'), Decimal('247953.59')),
 (datetime.datetime(2013, 7, 31, 0, 0), Decimal('59212.49'), Decimal('262970.14')),
 (datetime.datetime(2013, 8, 1, 0, 0), Decimal('49160.08'), Decimal('251807.18')),
 (datetime.datetime(2013, 8, 2, 0, 0), Decimal('50688.58'), Decimal('237570.90')),
 (datetime.datetime(2013, 8, 3, 0, 0), Decimal('43416.74'), Decimal('212383.68')),
 (datetime.datetime(2013, 8, 4, 0, 0), Decimal('35093.01'), Decimal('221067.49')),
 (datetime.datetime(2013, 8, 5, 0, 0), Decimal('34025.27'), Decimal('215904.50')),
 (datetime.datetime(2013, 8, 6, 0, 0), Decimal('57843.89'), Decimal('206037.23')),
 (datetime.datetime(2013, 8, 7, 0, 0), Decimal('45525.59'), Decimal('200169.38')),
 (datetime.datetime(2013, 8, 8, 0, 0), Decimal('33549.47'), Decimal('212579.15')),
 (datetime.datetime(2013, 8, 9, 0, 0), Decimal('29225.16'), Decimal('185890.76')),
 (datetime.datetime(2013, 8, 10, 0, 0), Decimal('46435.04'), Decimal('199379.91')),
 (datetime.datetime(2013, 8, 11, 0, 0), Decimal('31155.50'), Decimal('183787.32')),
 (datetime.datetime(2013, 8, 12, 0, 0), Decimal('59014.74'), Decimal('196605.61')),
 (datetime.datetime(2013, 8, 13, 0, 0), Decimal('17956.88'), Decimal('199737.25'))]

In [8]:
%%sql

SELECT t.*,
    round(avg(t.revenue) OVER (
        ORDER BY order_date
        ROWS BETWEEN 2 PRECEDING AND CURRENT ROW
    ), 2) AS moving_5day_revenue
FROM daily_revenue t
ORDER BY order_date
LIMIT 20

 * postgresql://retail_user:***@localhost:5432/retail_db
20 rows affected.

[(datetime.datetime(2013, 7, 25, 0, 0), Decimal('31547.23'), Decimal('31547.23')),
 (datetime.datetime(2013, 7, 26, 0, 0), Decimal('54713.23'), Decimal('43130.23')),
 (datetime.datetime(2013, 7, 27, 0, 0), Decimal('48411.48'), Decimal('44890.65')),
 (datetime.datetime(2013, 7, 28, 0, 0), Decimal('35672.03'), Decimal('46265.58')),
 (datetime.datetime(2013, 7, 29, 0, 0), Decimal('54579.70'), Decimal('46221.07')),
 (datetime.datetime(2013, 7, 30, 0, 0), Decimal('49329.29'), Decimal('46527.01')),
 (datetime.datetime(2013, 7, 31, 0, 0), Decimal('59212.49'), Decimal('54373.83')),
 (datetime.datetime(2013, 8, 1, 0, 0), Decimal('49160.08'), Decimal('52567.29')),
 (datetime.datetime(2013, 8, 2, 0, 0), Decimal('50688.58'), Decimal('53020.38')),
 (datetime.datetime(2013, 8, 3, 0, 0), Decimal('43416.74'), Decimal('47755.13')),
 (datetime.datetime(2013, 8, 4, 0, 0), Decimal('35093.01'), Decimal('43066.11')),
 (datetime.datetime(2013, 8, 5, 0, 0), Decimal('34025.27'), Decimal('37511.67')),
 (datetime.datetime(2013, 8, 6, 0, 0), Decimal('57843.89'), Decimal('42320.72')),
 (datetime.datetime(2013, 8, 7, 0, 0), Decimal('45525.59'), Decimal('45798.25')),
 (datetime.datetime(2013, 8, 8, 0, 0), Decimal('33549.47'), Decimal('45639.65')),
 (datetime.datetime(2013, 8, 9, 0, 0), Decimal('29225.16'), Decimal('36100.07')),
 (datetime.datetime(2013, 8, 10, 0, 0), Decimal('46435.04'), Decimal('36403.22')),
 (datetime.datetime(2013, 8, 11, 0, 0), Decimal('31155.50'), Decimal('35605.23')),
 (datetime.datetime(2013, 8, 12, 0, 0), Decimal('59014.74'), Decimal('45535.09')),
 (datetime.datetime(2013, 8, 13, 0, 0), Decimal('17956.88'), Decimal('36042.37'))]