In [1]:
%load_ext sql

In [2]:
%env DATABASE_URL=postgresql://retail_user:retail_password@localhost:5432/retail_db

env: DATABASE_URL=postgresql://retail_user:retail_password@localhost:5432/retail_db

# Exercise 4
Get top 3 products sold in the month of 2014 January by revenue.
* Use retail database tables such as orders, order_items and products.
* Highest revenue generating product should come at top.
* Consider only those orders which are either in `COMPLETE` or `CLOSED` status.
* Output should contain product_id, product_name, revenue, product_rank. revenue and product_rank are derived fields.
* Data should be sorted in descending order by revenue.

In [7]:
%%sql 

WITH product_revenue AS ( 
    SELECT p.product_id, p.product_name, 
        round(sum(oi.order_item_subtotal)::numeric, 2) AS revenue
    FROM orders o 
        JOIN order_items oi
            On o.order_id = oi.order_item_order_id
        JOIN products AS p
            ON p.product_id = oi.order_item_product_id
    WHERE to_char(o.order_date, 'yyyy-MM') = '2014-01'
        AND o.order_status IN ('CLOSED','COMPLETE')
    GROUP BY p.product_id, p.product_name )
SELECT * FROM (
    SELECT pr.*,
        dense_rank() OVER (
            ORDER BY revenue DESC
        ) AS product_rank
    FROM product_revenue AS pr
) AS q
WHERE product_rank <= 3
ORDER BY revenue DESC

 * postgresql://retail_user:***@localhost:5432/retail_db
3 rows affected.

[(1004, 'Field & Stream Sportsman 16 Gun Fire Safe', Decimal('250787.46'), 1),
 (365, 'Perfect Fitness Perfect Rip Deck', Decimal('151474.75'), 2),
 (957, "Diamondback Women's Serene Classic Comfort Bi", Decimal('148190.12'), 3)]

# Exercise 5:
Get top 3 products sold in the month of 2014 January under selected categories by revenue. The categories are **Cardio Equipment** and **Strength Training**.
* Use retail database tables such as orders, order_items, products as well as categories.
* Highest revenue generating product should come at top.
* Consider only those orders which are either in `COMPLETE` or `CLOSED` status.
* Output should contain category_id, category_name, product_id, product_name, revenue, product_rank. revenue and product_rank are derived fields.
* Data should be sorted in ascending order by category_id and descending order by revenue.

In [10]:
%%sql 

WITH product_revenue AS ( 
    SELECT c.category_id, c.category_name, p.product_id, p.product_name, 
        round(sum(oi.order_item_subtotal)::numeric, 2) AS revenue
    FROM orders o 
        JOIN order_items oi
            On o.order_id = oi.order_item_order_id
        JOIN products p
            ON p.product_id = oi.order_item_product_id
        JOIN categories c 
            ON c.category_id = p.product_category_id
    WHERE to_char(o.order_date, 'yyyy-MM') = '2014-01'
        AND o.order_status IN ('CLOSED','COMPLETE')
        AND c.category_name in ('Cardio Equipment' , 'Strength Training')
    GROUP BY c.category_id, c.category_name, p.product_id, p.product_name )
SELECT * FROM (
    SELECT pr.*,
        dense_rank() OVER (
            ORDER BY revenue DESC
        ) AS product_rank
    FROM product_revenue AS pr
) AS q
WHERE product_rank <= 3
ORDER BY category_id, revenue DESC

 * postgresql://retail_user:***@localhost:5432/retail_db
3 rows affected.

[(9, 'Cardio Equipment', 191, "Nike Men's Free 5.0+ Running Shoe", Decimal('132286.77'), 1),
 (10, 'Strength Training', 208, 'SOLE E35 Elliptical', Decimal('1999.99'), 2),
 (10, 'Strength Training', 203, 'GoPro HERO3+ Black Edition Camera', Decimal('1199.97'), 3)]