In [11]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [2]:
%env DATABASE_URL=postgresql://retail_user:retail_password@localhost:5432/retail_db

env: DATABASE_URL=postgresql://retail_user:retail_password@localhost:5432/retail_db

In [3]:
%sql DROP TABLE IF EXISTS users

Done.

[]

In [4]:
%%sql

CREATE TABLE users (
    user_id SERIAL PRIMARY KEY,
    user_first_name VARCHAR(30) NOT NULL,
    user_last_name VARCHAR(30) NOT NULL,
    user_email_id VARCHAR(50) NOT NULL,
    user_email_validated BOOLEAN DEFAULT FALSE,
    user_password VARCHAR(200),
    user_role VARCHAR(1) NOT NULL DEFAULT 'U', --U and A
    is_active BOOLEAN DEFAULT FALSE,
    created_dt DATE DEFAULT CURRENT_DATE,
    last_updated_ts TIMESTAMP DEFAULT CURRENT_TIMESTAMP
)

 * postgresql://retail_user:***@localhost:5432/retail_db
Done.

[]

Note: in Postgre you can only add comments once the table is created.

In [5]:
%sql COMMENT ON TABLE users IS 'Stores all of user details';

 * postgresql://retail_user:***@localhost:5432/retail_db
Done.

[]

In [6]:
%sql COMMENT ON COLUMN users.user_id IS 'Surrogate Key'

 * postgresql://retail_user:***@localhost:5432/retail_db
Done.

[]

In [7]:
%sql COMMENT ON COLUMN users.user_first_name IS 'User First Name'

 * postgresql://retail_user:***@localhost:5432/retail_db
Done.

[]

In [8]:
%sql COMMENT ON COLUMN users.user_role IS 'U for user A for admin'

 * postgresql://retail_user:***@localhost:5432/retail_db
Done.

[]

In [9]:
%%sql

SELECT * FROM information_schema.tables 
WHERE table_name = 'users'

 * postgresql://retail_user:***@localhost:5432/retail_db
1 rows affected.

[('retail_db', 'public', 'users', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None)]

In [10]:
%%sql 

SELECT * FROM information_schema.columns 
WHERE table_name = 'users'
ORDER BY ordinal_position

 * postgresql://retail_user:***@localhost:5432/retail_db
10 rows affected.

[('retail_db', 'public', 'users', 'user_id', 1, "nextval('users_user_id_seq'::regclass)", 'NO', 'integer', None, None, 32, 2, 0, None, None, None, None, None, None, None, None, None, None, None, None, 'retail_db', 'pg_catalog', 'int4', None, None, None, None, '1', 'NO', 'NO', None, None, None, None, None, 'NO', 'NEVER', None, 'YES'),
 ('retail_db', 'public', 'users', 'user_first_name', 2, None, 'NO', 'character varying', 30, 120, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, 'retail_db', 'pg_catalog', 'varchar', None, None, None, None, '2', 'NO', 'NO', None, None, None, None, None, 'NO', 'NEVER', None, 'YES'),
 ('retail_db', 'public', 'users', 'user_last_name', 3, None, 'NO', 'character varying', 30, 120, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, 'retail_db', 'pg_catalog', 'varchar', None, None, None, None, '3', 'NO', 'NO', None, None, None, None, None, 'NO', 'NEVER', None, 'YES'),
 ('retail_db', 'public', 'users', 'user_email_id', 4, None, 'NO', 'character varying', 50, 200, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, 'retail_db', 'pg_catalog', 'varchar', None, None, None, None, '4', 'NO', 'NO', None, None, None, None, None, 'NO', 'NEVER', None, 'YES'),
 ('retail_db', 'public', 'users', 'user_email_validated', 5, 'false', 'YES', 'boolean', None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, 'retail_db', 'pg_catalog', 'bool', None, None, None, None, '5', 'NO', 'NO', None, None, None, None, None, 'NO', 'NEVER', None, 'YES'),
 ('retail_db', 'public', 'users', 'user_password', 6, None, 'YES', 'character varying', 200, 800, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, 'retail_db', 'pg_catalog', 'varchar', None, None, None, None, '6', 'NO', 'NO', None, None, None, None, None, 'NO', 'NEVER', None, 'YES'),
 ('retail_db', 'public', 'users', 'user_role', 7, "'U'::character varying", 'NO', 'character varying', 1, 4, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, 'retail_db', 'pg_catalog', 'varchar', None, None, None, None, '7', 'NO', 'NO', None, None, None, None, None, 'NO', 'NEVER', None, 'YES'),
 ('retail_db', 'public', 'users', 'is_active', 8, 'false', 'YES', 'boolean', None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, 'retail_db', 'pg_catalog', 'bool', None, None, None, None, '8', 'NO', 'NO', None, None, None, None, None, 'NO', 'NEVER', None, 'YES'),
 ('retail_db', 'public', 'users', 'created_dt', 9, 'CURRENT_DATE', 'YES', 'date', None, None, None, None, None, 0, None, None, None, None, None, None, None, None, None, None, None, 'retail_db', 'pg_catalog', 'date', None, None, None, None, '9', 'NO', 'NO', None, None, None, None, None, 'NO', 'NEVER', None, 'YES'),
 ('retail_db', 'public', 'users', 'last_updated_ts', 10, 'CURRENT_TIMESTAMP', 'YES', 'timestamp without time zone', None, None, None, None, None, 6, None, None, None, None, None, None, None, None, None, None, None, 'retail_db', 'pg_catalog', 'timestamp', None, None, None, None, '10', 'NO', 'NO', None, None, None, None, None, 'NO', 'NEVER', None, 'YES')]