In [1]:
%load_ext sql

In [2]:
%env DATABASE_URL=postgresql://retail_user:retail_password@localhost:5432/retail_db

env: DATABASE_URL=postgresql://retail_user:retail_password@localhost:5432/retail_db

In [4]:
%sql DROP TABLE IF EXISTS users

 * postgresql://retail_user:***@localhost:5432/retail_db
Done.

[]

In [5]:
%%sql

CREATE TABLE users (
  user_id INT,
  user_first_name VARCHAR(30) NOT NULL,
  user_last_name VARCHAR(30) NOT NULL,
  user_email_id VARCHAR(50) NOT NULL,
  user_email_validated BOOLEAN,
  user_password VARCHAR(200),
  user_role VARCHAR(1),
  is_active BOOLEAN,
  created_dt DATE DEFAULT CURRENT_DATE
)

 * postgresql://retail_user:***@localhost:5432/retail_db
Done.

[]

Note: in Postgre you can only add comments once the table is created.

In [6]:
%%sql 

SELECT table_catalog, 
    table_name,
    column_name,
    data_type,
    character_maximum_length,
    column_default,
    is_nullable,
    ordinal_position
FROM information_schema.columns 
WHERE table_name = 'users'
ORDER BY ordinal_position

 * postgresql://retail_user:***@localhost:5432/retail_db
9 rows affected.

[('retail_db', 'users', 'user_id', 'integer', None, None, 'YES', 1),
 ('retail_db', 'users', 'user_first_name', 'character varying', 30, None, 'NO', 2),
 ('retail_db', 'users', 'user_last_name', 'character varying', 30, None, 'NO', 3),
 ('retail_db', 'users', 'user_email_id', 'character varying', 50, None, 'NO', 4),
 ('retail_db', 'users', 'user_email_validated', 'boolean', None, None, 'YES', 5),
 ('retail_db', 'users', 'user_password', 'character varying', 200, None, 'YES', 6),
 ('retail_db', 'users', 'user_role', 'character varying', 1, None, 'YES', 7),
 ('retail_db', 'users', 'is_active', 'boolean', None, None, 'YES', 8),
 ('retail_db', 'users', 'created_dt', 'date', None, 'CURRENT_DATE', 'YES', 9)]