In [1]:
%load_ext sql

In [2]:
%env DATABASE_URL=postgresql://retail_user:retail_password@localhost:5432/retail_db

env: DATABASE_URL=postgresql://retail_user:retail_password@localhost:5432/retail_db

In [3]:
%sql DROP SEQUENCE IF EXISTS users_user_id_seq

Done.

[]

In [4]:
%sql CREATE SEQUENCE users_user_id_seq

 * postgresql://retail_user:***@localhost:5432/retail_db
Done.

[]

In [5]:
%sql ALTER TABLE users ALTER COLUMN user_id SET DEFAULT nextval('users_user_id_seq')

 * postgresql://retail_user:***@localhost:5432/retail_db
Done.

[]

In [6]:
%%sql 

SELECT table_catalog, 
    table_name,
    column_name,
    data_type,
    character_maximum_length,
    column_default,
    is_nullable,
    ordinal_position
FROM information_schema.columns 
WHERE table_name = 'users'
ORDER BY ordinal_position

 * postgresql://retail_user:***@localhost:5432/retail_db
9 rows affected.

[('retail_db', 'users', 'user_id', 'integer', None, "nextval('users_user_id_seq'::regclass)", 'YES', 1),
 ('retail_db', 'users', 'user_first_name', 'character varying', 30, None, 'NO', 2),
 ('retail_db', 'users', 'user_last_name', 'character varying', 30, None, 'NO', 3),
 ('retail_db', 'users', 'user_email_id', 'character varying', 50, None, 'NO', 4),
 ('retail_db', 'users', 'user_email_validated', 'boolean', None, None, 'YES', 5),
 ('retail_db', 'users', 'user_password', 'character varying', 200, None, 'YES', 6),
 ('retail_db', 'users', 'user_role', 'character varying', 1, None, 'YES', 7),
 ('retail_db', 'users', 'is_active', 'boolean', None, None, 'YES', 8),
 ('retail_db', 'users', 'created_dt', 'date', None, 'CURRENT_DATE', 'YES', 9)]

In [7]:
%%sql

ALTER TABLE users
    ALTER COLUMN user_email_validated SET DEFAULT FALSE,
    ALTER COLUMN is_active SET DEFAULT FALSE

 * postgresql://retail_user:***@localhost:5432/retail_db
Done.

[]

In [8]:
%%sql

ALTER TABLE users
    ALTER COLUMN user_role SET DATA TYPE CHAR(1),
    ALTER COLUMN user_role SET DEFAULT 'U';

 * postgresql://retail_user:***@localhost:5432/retail_db
Done.

[]

In [10]:
%%sql
SELECT table_catalog, 
    table_name,
    column_name,
    data_type,
    character_maximum_length,
    column_default,
    is_nullable,
    ordinal_position
FROM information_schema.columns 
WHERE table_name = 'users'
ORDER BY ordinal_position

 * postgresql://retail_user:***@localhost:5432/retail_db
9 rows affected.

[('retail_db', 'users', 'user_id', 'integer', None, "nextval('users_user_id_seq'::regclass)", 'YES', 1),
 ('retail_db', 'users', 'user_first_name', 'character varying', 30, None, 'NO', 2),
 ('retail_db', 'users', 'user_last_name', 'character varying', 30, None, 'NO', 3),
 ('retail_db', 'users', 'user_email_id', 'character varying', 50, None, 'NO', 4),
 ('retail_db', 'users', 'user_email_validated', 'boolean', None, 'false', 'YES', 5),
 ('retail_db', 'users', 'user_password', 'character varying', 200, None, 'YES', 6),
 ('retail_db', 'users', 'user_role', 'character', 1, "'U'::bpchar", 'YES', 7),
 ('retail_db', 'users', 'is_active', 'boolean', None, 'false', 'YES', 8),
 ('retail_db', 'users', 'created_dt', 'date', None, 'CURRENT_DATE', 'YES', 9)]

In [11]:
%%sql

ALTER TABLE users
    ADD COLUMN last_updated_ts TIMESTAMP DEFAULT CURRENT_TIMESTAMP

 * postgresql://retail_user:***@localhost:5432/retail_db
Done.

[]

Note

We can perform multiple column level operations using one ALTER TABLE command. Let us see an example here.

In [12]:
%%sql

DROP TABLE IF EXISTS users

 * postgresql://retail_user:***@localhost:5432/retail_db
Done.

[]

In [13]:
%%sql

CREATE TABLE users (
  user_id INT,
  user_first_name VARCHAR(30) NOT NULL,
  user_last_name VARCHAR(30) NOT NULL,
  user_email_id VARCHAR(50) NOT NULL,
  user_email_validated BOOLEAN,
  user_password VARCHAR(200),
  user_role VARCHAR(1),
  is_active BOOLEAN,
  created_dt DATE DEFAULT CURRENT_DATE
)

 * postgresql://retail_user:***@localhost:5432/retail_db
Done.

[]

In [14]:
%sql DROP SEQUENCE IF EXISTS users_user_id_seq

 * postgresql://retail_user:***@localhost:5432/retail_db
Done.

[]

In [15]:
%sql CREATE SEQUENCE users_user_id_seq

 * postgresql://retail_user:***@localhost:5432/retail_db
Done.

[]

In [16]:
%%sql

ALTER TABLE users
    ALTER COLUMN user_id SET DEFAULT nextval('users_user_id_seq'),
    ALTER COLUMN user_email_validated SET DEFAULT FALSE,
    ALTER COLUMN is_active SET DEFAULT FALSE,
    ALTER COLUMN user_role SET DATA TYPE CHAR(1),
    ALTER COLUMN user_role SET DEFAULT 'U',
    ADD COLUMN last_updated_ts TIMESTAMP DEFAULT CURRENT_TIMESTAMP

 * postgresql://retail_user:***@localhost:5432/retail_db
Done.

[]

In [17]:
%%sql 

SELECT table_catalog, 
    table_name,
    column_name,
    data_type,
    character_maximum_length,
    column_default,
    is_nullable,
    ordinal_position
FROM information_schema.columns 
WHERE table_name = 'users'
ORDER BY ordinal_position

 * postgresql://retail_user:***@localhost:5432/retail_db
10 rows affected.

[('retail_db', 'users', 'user_id', 'integer', None, "nextval('users_user_id_seq'::regclass)", 'YES', 1),
 ('retail_db', 'users', 'user_first_name', 'character varying', 30, None, 'NO', 2),
 ('retail_db', 'users', 'user_last_name', 'character varying', 30, None, 'NO', 3),
 ('retail_db', 'users', 'user_email_id', 'character varying', 50, None, 'NO', 4),
 ('retail_db', 'users', 'user_email_validated', 'boolean', None, 'false', 'YES', 5),
 ('retail_db', 'users', 'user_password', 'character varying', 200, None, 'YES', 6),
 ('retail_db', 'users', 'user_role', 'character', 1, "'U'::bpchar", 'YES', 7),
 ('retail_db', 'users', 'is_active', 'boolean', None, 'false', 'YES', 8),
 ('retail_db', 'users', 'created_dt', 'date', None, 'CURRENT_DATE', 'YES', 9),
 ('retail_db', 'users', 'last_updated_ts', 'timestamp without time zone', None, 'CURRENT_TIMESTAMP', 'YES', 10)]

In [19]:
%%sql 

SELECT * FROM information_schema.sequences 
WHERE sequence_name ~ 'users'

 * postgresql://retail_user:***@localhost:5432/retail_db
1 rows affected.

[('retail_db', 'public', 'users_user_id_seq', 'bigint', 64, 2, 0, '1', '1', '9223372036854775807', '1', 'NO')]