In [1]:
%load_ext sql

In [2]:
%env DATABASE_URL=postgresql://retail_user:retail_password@localhost:5432/retail_db

env: DATABASE_URL=postgresql://retail_user:retail_password@localhost:5432/retail_db

Let us perform tasks to understand how we can use ALTER TABLE command to add or drop the constraints.

    Use the prior users table with out any constraints.

    Add primary key constraint on user_id.

    Add unique constraint on user_email_id.

    Add not null constraints user_email_validated, user_role, created_dt, last_updated_ts

    Add check constraint to user_role with ‘U’ and ‘A’ as accepted values.

    Add new table user_logins with below columns and establish foreign key relationship with users.

    user_login_id - SERIAL and PRIMARY KEY

    user_id - INT

    user_login_time - TIMESTAMP defaulted to CURRENT_TIMESTAMP

    user_logins is child table to users with many to one relationship. Hence, create foreign key between user_logins.user_id to users.user_id.

In [3]:
%sql DROP TABLE IF EXISTS users;

Done.

[]

In [4]:
%sql DROP SEQUENCE IF EXISTS users_user_id_seq

 * postgresql://retail_user:***@localhost:5432/retail_db
Done.

[]

In [5]:
%%sql

CREATE TABLE users (
    user_id INT,
    user_first_name VARCHAR(30) NOT NULL,
    user_last_name VARCHAR(30) NOT NULL,
    user_email_id VARCHAR(50) NOT NULL,
    user_email_validated BOOLEAN,
    user_password VARCHAR(200),
    user_role VARCHAR(1),
    is_active BOOLEAN,
    created_dt DATE DEFAULT CURRENT_DATE
)

 * postgresql://retail_user:***@localhost:5432/retail_db
Done.

[]

In [6]:
%sql CREATE SEQUENCE users_user_id_seq

 * postgresql://retail_user:***@localhost:5432/retail_db
Done.

[]

In [7]:
%sql ALTER TABLE users ALTER COLUMN user_id SET DEFAULT nextval('users_user_id_seq')

 * postgresql://retail_user:***@localhost:5432/retail_db
Done.

[]

In [8]:
%%sql

ALTER TABLE users
    ALTER COLUMN user_email_validated SET DEFAULT FALSE,
    ALTER COLUMN is_active SET DEFAULT FALSE

 * postgresql://retail_user:***@localhost:5432/retail_db
Done.

[]

In [9]:
%%sql

ALTER TABLE users
    ALTER COLUMN user_role SET DATA TYPE CHAR(1),
    ALTER COLUMN user_role SET DEFAULT 'U'

 * postgresql://retail_user:***@localhost:5432/retail_db
Done.

[]

In [10]:
%%sql

ALTER TABLE users
    ADD COLUMN last_updated_ts TIMESTAMP DEFAULT CURRENT_TIMESTAMP

 * postgresql://retail_user:***@localhost:5432/retail_db
Done.

[]

In [11]:
%%sql 

SELECT table_catalog,
    table_name,
    constraint_type,
    constraint_name 
FROM information_schema.table_constraints 
WHERE table_name = 'users'

 * postgresql://retail_user:***@localhost:5432/retail_db
3 rows affected.

[('retail_db', 'users', 'CHECK', '2200_16552_2_not_null'),
 ('retail_db', 'users', 'CHECK', '2200_16552_3_not_null'),
 ('retail_db', 'users', 'CHECK', '2200_16552_4_not_null')]

In [12]:
%sql ALTER TABLE users ADD PRIMARY KEY (user_id)

 * postgresql://retail_user:***@localhost:5432/retail_db
Done.

[]

In [13]:
%%sql 

SELECT table_catalog,
    table_name,
    constraint_type,
    constraint_name 
FROM information_schema.table_constraints 
WHERE table_name = 'users'

 * postgresql://retail_user:***@localhost:5432/retail_db
5 rows affected.

[('retail_db', 'users', 'PRIMARY KEY', 'users_pkey'),
 ('retail_db', 'users', 'CHECK', '2200_16552_1_not_null'),
 ('retail_db', 'users', 'CHECK', '2200_16552_2_not_null'),
 ('retail_db', 'users', 'CHECK', '2200_16552_3_not_null'),
 ('retail_db', 'users', 'CHECK', '2200_16552_4_not_null')]

In [14]:
%sql ALTER TABLE users DROP CONSTRAINT users_pkey

 * postgresql://retail_user:***@localhost:5432/retail_db
Done.

[]

In [15]:
%%sql 

SELECT table_catalog,
    table_name,
    constraint_type,
    constraint_name 
FROM information_schema.table_constraints 
WHERE table_name = 'users'

 * postgresql://retail_user:***@localhost:5432/retail_db
4 rows affected.

[('retail_db', 'users', 'CHECK', '2200_16552_1_not_null'),
 ('retail_db', 'users', 'CHECK', '2200_16552_2_not_null'),
 ('retail_db', 'users', 'CHECK', '2200_16552_3_not_null'),
 ('retail_db', 'users', 'CHECK', '2200_16552_4_not_null')]

In [16]:
%sql ALTER TABLE users ADD CONSTRAINT users_pk PRIMARY KEY (user_id)

 * postgresql://retail_user:***@localhost:5432/retail_db
Done.

[]

In [17]:
%%sql 

SELECT table_catalog,
    table_name,
    constraint_type,
    constraint_name 
FROM information_schema.table_constraints 
WHERE table_name = 'users'

 * postgresql://retail_user:***@localhost:5432/retail_db
5 rows affected.

[('retail_db', 'users', 'PRIMARY KEY', 'users_pk'),
 ('retail_db', 'users', 'CHECK', '2200_16552_1_not_null'),
 ('retail_db', 'users', 'CHECK', '2200_16552_2_not_null'),
 ('retail_db', 'users', 'CHECK', '2200_16552_3_not_null'),
 ('retail_db', 'users', 'CHECK', '2200_16552_4_not_null')]

In [18]:
%sql ALTER TABLE users ADD UNIQUE (user_email_id);

 * postgresql://retail_user:***@localhost:5432/retail_db
Done.

[]

In [19]:
%%sql 

SELECT table_catalog,
    table_name,
    constraint_type,
    constraint_name 
FROM information_schema.table_constraints 
WHERE table_name = 'users'

 * postgresql://retail_user:***@localhost:5432/retail_db
6 rows affected.

[('retail_db', 'users', 'PRIMARY KEY', 'users_pk'),
 ('retail_db', 'users', 'UNIQUE', 'users_user_email_id_key'),
 ('retail_db', 'users', 'CHECK', '2200_16552_1_not_null'),
 ('retail_db', 'users', 'CHECK', '2200_16552_2_not_null'),
 ('retail_db', 'users', 'CHECK', '2200_16552_3_not_null'),
 ('retail_db', 'users', 'CHECK', '2200_16552_4_not_null')]

In [20]:
%%sql

ALTER TABLE users
    ALTER COLUMN user_email_validated SET NOT NULL, 
    ALTER COLUMN user_role SET NOT NULL, 
    ALTER COLUMN created_dt SET NOT NULL, 
    ALTER COLUMN last_updated_ts SET NOT NULL

 * postgresql://retail_user:***@localhost:5432/retail_db
Done.

[]

In [21]:
%%sql

ALTER TABLE users
    ADD CHECK (user_role IN ('U', 'A') )

 * postgresql://retail_user:***@localhost:5432/retail_db
Done.

[]

In [22]:
%%sql 

SELECT table_catalog,
    table_name,
    constraint_type,
    constraint_name 
FROM information_schema.table_constraints 
WHERE table_name = 'users'

 * postgresql://retail_user:***@localhost:5432/retail_db
11 rows affected.

[('retail_db', 'users', 'PRIMARY KEY', 'users_pk'),
 ('retail_db', 'users', 'UNIQUE', 'users_user_email_id_key'),
 ('retail_db', 'users', 'CHECK', 'users_user_role_check'),
 ('retail_db', 'users', 'CHECK', '2200_16552_1_not_null'),
 ('retail_db', 'users', 'CHECK', '2200_16552_2_not_null'),
 ('retail_db', 'users', 'CHECK', '2200_16552_3_not_null'),
 ('retail_db', 'users', 'CHECK', '2200_16552_4_not_null'),
 ('retail_db', 'users', 'CHECK', '2200_16552_5_not_null'),
 ('retail_db', 'users', 'CHECK', '2200_16552_7_not_null'),
 ('retail_db', 'users', 'CHECK', '2200_16552_9_not_null'),
 ('retail_db', 'users', 'CHECK', '2200_16552_10_not_null')]

In [23]:
%%sql

CREATE TABLE user_logins (
    user_login_id SERIAL PRIMARY KEY,
    user_id INT,
    user_login_ts TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
    user_ip_addr VARCHAR(20)
)

 * postgresql://retail_user:***@localhost:5432/retail_db
Done.

[]

In [24]:
%%sql 

SELECT table_catalog,
    table_name,
    constraint_type,
    constraint_name 
FROM information_schema.table_constraints 
WHERE table_name = 'user_logins'

 * postgresql://retail_user:***@localhost:5432/retail_db
2 rows affected.

[('retail_db', 'user_logins', 'PRIMARY KEY', 'user_logins_pkey'),
 ('retail_db', 'user_logins', 'CHECK', '2200_16573_1_not_null')]

In [25]:
%%sql

ALTER TABLE user_logins
    ADD FOREIGN KEY (user_id)
    REFERENCES users(user_id);

 * postgresql://retail_user:***@localhost:5432/retail_db
Done.

[]

In [26]:
%%sql 

SELECT table_catalog,
    table_name,
    constraint_type,
    constraint_name 
FROM information_schema.table_constraints 
WHERE table_name = 'user_logins'

 * postgresql://retail_user:***@localhost:5432/retail_db
3 rows affected.

[('retail_db', 'user_logins', 'PRIMARY KEY', 'user_logins_pkey'),
 ('retail_db', 'user_logins', 'FOREIGN KEY', 'user_logins_user_id_fkey'),
 ('retail_db', 'user_logins', 'CHECK', '2200_16573_1_not_null')]

Now if you try to drop users table it will error bc there is a child table user_logins that would be affected

In [27]:
%sql DROP TABLE users

 * postgresql://retail_user:***@localhost:5432/retail_db

InternalError: (psycopg2.errors.DependentObjectsStillExist) cannot drop table users because other objects depend on it
DETAIL:  constraint user_logins_user_id_fkey on table user_logins depends on table users
HINT:  Use DROP ... CASCADE to drop the dependent objects too.

[SQL: DROP TABLE users]
(Background on this error at: https://sqlalche.me/e/14/2j85)

in order to solve this you can use CASCADE

In [28]:
%sql DROP TABLE users CASCADE;

 * postgresql://retail_user:***@localhost:5432/retail_db
Done.

[]

This drops the foreign key constraint from the child table does not remove the child table

In [29]:
%%sql 

SELECT table_catalog,
    table_name,
    constraint_type,
    constraint_name 
FROM information_schema.table_constraints 
WHERE table_name = 'user_logins'

 * postgresql://retail_user:***@localhost:5432/retail_db
2 rows affected.

[('retail_db', 'user_logins', 'PRIMARY KEY', 'user_logins_pkey'),
 ('retail_db', 'user_logins', 'CHECK', '2200_16573_1_not_null')]

In [30]:
%sql DROP TABLE IF EXISTS user_logins

 * postgresql://retail_user:***@localhost:5432/retail_db
Done.

[]