In [1]:
%load_ext sql

In [2]:
%env DATABASE_URL=postgresql://retail_user:retail_password@localhost:5432/retail_db

env: DATABASE_URL=postgresql://retail_user:retail_password@localhost:5432/retail_db

In [3]:
%sql DROP SEQUENCE IF EXISTS test_seq

Done.

[]

In [4]:
%%sql 
CREATE SEQUENCE test_seq
START WITH 101
MINVALUE 101
MAXVALUE 1000
INCREMENT BY 100;

 * postgresql://retail_user:***@localhost:5432/retail_db
Done.

[]

In [5]:
%sql SELECT currval('test_seq')

 * postgresql://retail_user:***@localhost:5432/retail_db
(psycopg2.errors.ObjectNotInPrerequisiteState) currval of sequence "test_seq" is not yet defined in this session

[SQL: SELECT currval('test_seq')]
(Background on this error at: https://sqlalche.me/e/14/e3q8)

In [6]:
%sql SELECT nextval('test_seq')

 * postgresql://retail_user:***@localhost:5432/retail_db
1 rows affected.

[(101,)]

In [7]:
%sql SELECT currval('test_seq')

 * postgresql://retail_user:***@localhost:5432/retail_db
1 rows affected.

[(101,)]

In [8]:
%sql SELECT nextval('test_seq')

 * postgresql://retail_user:***@localhost:5432/retail_db
1 rows affected.

[(201,)]

In [9]:
%sql SELECT nextval('test_seq')

 * postgresql://retail_user:***@localhost:5432/retail_db
1 rows affected.

[(301,)]

In [10]:
%%sql

ALTER SEQUENCE test_seq
INCREMENT BY 1
RESTART WITH 101

 * postgresql://retail_user:***@localhost:5432/retail_db
Done.

[]

In [11]:
%sql SELECT nextval('test_seq')

 * postgresql://retail_user:***@localhost:5432/retail_db
1 rows affected.

[(101,)]

In [12]:
%sql SELECT nextval('test_seq')

 * postgresql://retail_user:***@localhost:5432/retail_db
1 rows affected.

[(102,)]

In [13]:
%sql SELECT currval('test_seq')

 * postgresql://retail_user:***@localhost:5432/retail_db
1 rows affected.

[(102,)]

In [14]:
%sql DROP SEQUENCE test_seq

 * postgresql://retail_user:***@localhost:5432/retail_db
Done.

[]

In [15]:
%sql DROP TABLE IF EXISTS users

 * postgresql://retail_user:***@localhost:5432/retail_db
Done.

[]

In [16]:
%sql DROP SEQUENCE IF EXISTS users_user_id_seq

 * postgresql://retail_user:***@localhost:5432/retail_db
Done.

[]

In [17]:
%%sql

CREATE TABLE users (
    user_id SERIAL PRIMARY KEY,
    user_first_name VARCHAR(30) NOT NULL,
    user_last_name VARCHAR(30) NOT NULL,
    user_email_id VARCHAR(50) NOT NULL,
    user_email_validated BOOLEAN,
    user_password VARCHAR(200),
    user_role VARCHAR(1),
    is_active BOOLEAN,
    created_dt DATE DEFAULT CURRENT_DATE
)

 * postgresql://retail_user:***@localhost:5432/retail_db
Done.

[]

In [18]:
%%sql

SELECT * FROM information_schema.sequences

 * postgresql://retail_user:***@localhost:5432/retail_db
1 rows affected.

[('retail_db', 'public', 'users_user_id_seq', 'integer', 32, 2, 0, '1', '1', '2147483647', '1', 'NO')]

In [19]:
%sql SELECT nextval('users_user_id_seq')

 * postgresql://retail_user:***@localhost:5432/retail_db
1 rows affected.

[(1,)]

In [20]:
%%sql

INSERT INTO users (user_first_name, user_last_name, user_email_id)
VALUES ('Donald', 'Duck', 'donald@duck.com')

 * postgresql://retail_user:***@localhost:5432/retail_db
1 rows affected.

[]

In [21]:
%%sql

SELECT * FROM users

 * postgresql://retail_user:***@localhost:5432/retail_db
1 rows affected.

[(2, 'Donald', 'Duck', 'donald@duck.com', None, None, None, None, datetime.date(2021, 12, 11))]

In [22]:
%%sql

INSERT INTO users (user_first_name, user_last_name, user_email_id, user_role, is_active)
VALUES ('Mickey', 'Mouse', 'mickey@mouse.com', 'U', true)

 * postgresql://retail_user:***@localhost:5432/retail_db
1 rows affected.

[]

In [23]:
%%sql

SELECT * FROM users

 * postgresql://retail_user:***@localhost:5432/retail_db
2 rows affected.

[(2, 'Donald', 'Duck', 'donald@duck.com', None, None, None, None, datetime.date(2021, 12, 11)),
 (3, 'Mickey', 'Mouse', 'mickey@mouse.com', None, None, 'U', True, datetime.date(2021, 12, 11))]

In [24]:
%%sql

INSERT INTO users 
    (user_first_name, user_last_name, user_email_id, user_password, user_role, is_active) 
VALUES 
    ('Gordan', 'Bradock', 'gbradock0@barnesandnoble.com', 'h9LAz7p7ub', 'U', true),
    ('Tobe', 'Lyness', 'tlyness1@paginegialle.it', 'oEofndp', 'U', true),
    ('Addie', 'Mesias', 'amesias2@twitpic.com', 'ih7Y69u56', 'U', true)

 * postgresql://retail_user:***@localhost:5432/retail_db
3 rows affected.

[]

In [25]:
%sql SELECT currval('users_user_id_seq')

 * postgresql://retail_user:***@localhost:5432/retail_db
1 rows affected.

[(6,)]

In [26]:
%sql SELECT * FROM users

 * postgresql://retail_user:***@localhost:5432/retail_db
5 rows affected.

[(2, 'Donald', 'Duck', 'donald@duck.com', None, None, None, None, datetime.date(2021, 12, 11)),
 (3, 'Mickey', 'Mouse', 'mickey@mouse.com', None, None, 'U', True, datetime.date(2021, 12, 11)),
 (4, 'Gordan', 'Bradock', 'gbradock0@barnesandnoble.com', None, 'h9LAz7p7ub', 'U', True, datetime.date(2021, 12, 11)),
 (5, 'Tobe', 'Lyness', 'tlyness1@paginegialle.it', None, 'oEofndp', 'U', True, datetime.date(2021, 12, 11)),
 (6, 'Addie', 'Mesias', 'amesias2@twitpic.com', None, 'ih7Y69u56', 'U', True, datetime.date(2021, 12, 11))]

Warning

It is not a good idea to populate surrogate key fields by passing the values. Either we should specify sequence generated number or let database take care of populating the field.

In [27]:
%%sql

INSERT INTO users (user_id, user_first_name, user_last_name, user_email_id)
VALUES (7, 'Scott', 'Tiger', 'scott@tiger.com')

 * postgresql://retail_user:***@localhost:5432/retail_db
1 rows affected.

[]

In [28]:
%sql SELECT currval('users_user_id_seq')

 * postgresql://retail_user:***@localhost:5432/retail_db
1 rows affected.

[(6,)]

Note

When data is loaded with surrogate key values into the table from external sources, it is recommended to create sequence with maximum + 1 value usingSTART WITH

In [29]:
%sql DROP TABLE IF EXISTS users

 * postgresql://retail_user:***@localhost:5432/retail_db
Done.

[]

In [30]:
%sql DROP SEQUENCE IF EXISTS users_user_id_seq

 * postgresql://retail_user:***@localhost:5432/retail_db
Done.

[]

Note:

SERIAL will make sure user_id is populated using sequence and PRIMARY KEY will enforce not null and unique constraints.

In [31]:
%%sql

CREATE TABLE users (
    user_id SERIAL PRIMARY KEY,
    user_first_name VARCHAR(30) NOT NULL,
    user_last_name VARCHAR(30) NOT NULL,
    user_email_id VARCHAR(50) NOT NULL,
    user_email_validated BOOLEAN,
    user_password VARCHAR(200),
    user_role VARCHAR(1),
    is_active BOOLEAN,
    created_dt DATE DEFAULT CURRENT_DATE
)

 * postgresql://retail_user:***@localhost:5432/retail_db
Done.

[]

In [32]:
%%sql

INSERT INTO users (user_id, user_first_name, user_last_name, user_email_id)
VALUES (1, 'Donald', 'Duck', 'donald@duck.com')

 * postgresql://retail_user:***@localhost:5432/retail_db
1 rows affected.

[]

In [33]:
%%sql

INSERT INTO users (user_id, user_first_name, user_last_name, user_email_id, user_role, is_active)
VALUES (2, 'Mickey', 'Mouse', 'mickey@mouse.com', 'U', true)

 * postgresql://retail_user:***@localhost:5432/retail_db
1 rows affected.

[]

In [34]:
%%sql

INSERT INTO users 
    (user_id, user_first_name, user_last_name, user_email_id, user_password, user_role, is_active) 
VALUES 
    (3, 'Gordan', 'Bradock', 'gbradock0@barnesandnoble.com', 'h9LAz7p7ub', 'U', true),
    (4, 'Tobe', 'Lyness', 'tlyness1@paginegialle.it', 'oEofndp', 'U', true),
    (5, 'Addie', 'Mesias', 'amesias2@twitpic.com', 'ih7Y69u56', 'U', true)

 * postgresql://retail_user:***@localhost:5432/retail_db
3 rows affected.

[]

In [35]:
%sql SELECT * FROM users

 * postgresql://retail_user:***@localhost:5432/retail_db
5 rows affected.

[(1, 'Donald', 'Duck', 'donald@duck.com', None, None, None, None, datetime.date(2021, 12, 11)),
 (2, 'Mickey', 'Mouse', 'mickey@mouse.com', None, None, 'U', True, datetime.date(2021, 12, 11)),
 (3, 'Gordan', 'Bradock', 'gbradock0@barnesandnoble.com', None, 'h9LAz7p7ub', 'U', True, datetime.date(2021, 12, 11)),
 (4, 'Tobe', 'Lyness', 'tlyness1@paginegialle.it', None, 'oEofndp', 'U', True, datetime.date(2021, 12, 11)),
 (5, 'Addie', 'Mesias', 'amesias2@twitpic.com', None, 'ih7Y69u56', 'U', True, datetime.date(2021, 12, 11))]

In [36]:
%sql SELECT nextval('users_user_id_seq')

 * postgresql://retail_user:***@localhost:5432/retail_db
1 rows affected.

[(1,)]

In [37]:
%sql ALTER SEQUENCE users_user_id_seq RESTART WITH 5

 * postgresql://retail_user:***@localhost:5432/retail_db
Done.

[]

In [38]:
%sql SELECT currval('users_user_id_seq')

 * postgresql://retail_user:***@localhost:5432/retail_db
1 rows affected.

[(1,)]

In [39]:
%sql SELECT nextval('users_user_id_seq')

 * postgresql://retail_user:***@localhost:5432/retail_db
1 rows affected.

[(5,)]

In [40]:
%sql SELECT currval('users_user_id_seq')

 * postgresql://retail_user:***@localhost:5432/retail_db
1 rows affected.

[(5,)]

In [41]:
%%sql

INSERT INTO users (user_first_name, user_last_name, user_email_id)
VALUES ('Scott', 'Tiger', 'scott@tiger.com')

 * postgresql://retail_user:***@localhost:5432/retail_db
1 rows affected.

[]

In [42]:
%sql SELECT currval('users_user_id_seq')

 * postgresql://retail_user:***@localhost:5432/retail_db
1 rows affected.

[(6,)]

In [43]:
%sql SELECT * FROM users

 * postgresql://retail_user:***@localhost:5432/retail_db
6 rows affected.

[(1, 'Donald', 'Duck', 'donald@duck.com', None, None, None, None, datetime.date(2021, 12, 11)),
 (2, 'Mickey', 'Mouse', 'mickey@mouse.com', None, None, 'U', True, datetime.date(2021, 12, 11)),
 (3, 'Gordan', 'Bradock', 'gbradock0@barnesandnoble.com', None, 'h9LAz7p7ub', 'U', True, datetime.date(2021, 12, 11)),
 (4, 'Tobe', 'Lyness', 'tlyness1@paginegialle.it', None, 'oEofndp', 'U', True, datetime.date(2021, 12, 11)),
 (5, 'Addie', 'Mesias', 'amesias2@twitpic.com', None, 'ih7Y69u56', 'U', True, datetime.date(2021, 12, 11)),
 (6, 'Scott', 'Tiger', 'scott@tiger.com', None, None, None, None, datetime.date(2021, 12, 11))]

In [44]:
%sql DROP SEQUENCE users_user_id_seq CASCADE

 * postgresql://retail_user:***@localhost:5432/retail_db
Done.

[]

In [45]:
%sql SELECT * FROM users

 * postgresql://retail_user:***@localhost:5432/retail_db
6 rows affected.

[(1, 'Donald', 'Duck', 'donald@duck.com', None, None, None, None, datetime.date(2021, 12, 11)),
 (2, 'Mickey', 'Mouse', 'mickey@mouse.com', None, None, 'U', True, datetime.date(2021, 12, 11)),
 (3, 'Gordan', 'Bradock', 'gbradock0@barnesandnoble.com', None, 'h9LAz7p7ub', 'U', True, datetime.date(2021, 12, 11)),
 (4, 'Tobe', 'Lyness', 'tlyness1@paginegialle.it', None, 'oEofndp', 'U', True, datetime.date(2021, 12, 11)),
 (5, 'Addie', 'Mesias', 'amesias2@twitpic.com', None, 'ih7Y69u56', 'U', True, datetime.date(2021, 12, 11)),
 (6, 'Scott', 'Tiger', 'scott@tiger.com', None, None, None, None, datetime.date(2021, 12, 11))]

In [46]:
%%sql

CREATE SEQUENCE users_user_id_seq 
    START WITH 7
    MINVALUE 1

 * postgresql://retail_user:***@localhost:5432/retail_db
Done.

[]

In [47]:
%%sql

ALTER SEQUENCE users_user_id_seq
    OWNED BY users.user_id

 * postgresql://retail_user:***@localhost:5432/retail_db
Done.

[]

In [48]:
%%sql 

ALTER TABLE users 
    ALTER COLUMN user_id 
    SET DEFAULT nextval('users_user_id_seq')

 * postgresql://retail_user:***@localhost:5432/retail_db
Done.

[]

In [49]:
%%sql

INSERT INTO users (user_first_name, user_last_name, user_email_id)
VALUES ('Matt', 'Clarke', 'matt@clarke.com')

 * postgresql://retail_user:***@localhost:5432/retail_db
1 rows affected.

[]

In [50]:
%sql SELECT * FROM users

 * postgresql://retail_user:***@localhost:5432/retail_db
7 rows affected.

[(1, 'Donald', 'Duck', 'donald@duck.com', None, None, None, None, datetime.date(2021, 12, 11)),
 (2, 'Mickey', 'Mouse', 'mickey@mouse.com', None, None, 'U', True, datetime.date(2021, 12, 11)),
 (3, 'Gordan', 'Bradock', 'gbradock0@barnesandnoble.com', None, 'h9LAz7p7ub', 'U', True, datetime.date(2021, 12, 11)),
 (4, 'Tobe', 'Lyness', 'tlyness1@paginegialle.it', None, 'oEofndp', 'U', True, datetime.date(2021, 12, 11)),
 (5, 'Addie', 'Mesias', 'amesias2@twitpic.com', None, 'ih7Y69u56', 'U', True, datetime.date(2021, 12, 11)),
 (6, 'Scott', 'Tiger', 'scott@tiger.com', None, None, None, None, datetime.date(2021, 12, 11)),
 (7, 'Matt', 'Clarke', 'matt@clarke.com', None, None, None, None, datetime.date(2021, 12, 11))]

In [51]:
%sql SELECT currval('users_user_id_seq')

 * postgresql://retail_user:***@localhost:5432/retail_db
1 rows affected.

[(7,)]