In [1]:
%load_ext sql

In [2]:
%env DATABASE_URL=postgresql://retail_user:retail_password@localhost:5432/retail_db

env: DATABASE_URL=postgresql://retail_user:retail_password@localhost:5432/retail_db

Exercise 1:

Queries to get maximum values from surrogate primary keys.

In [4]:
%sql SELECT * FROM information_schema.tables LIMIT 10;

 * postgresql://retail_user:***@localhost:5432/retail_db
10 rows affected.

[('retail_db', 'pg_catalog', 'pg_type', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None),
 ('retail_db', 'pg_catalog', 'pg_foreign_table', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None),
 ('retail_db', 'public', 'departments', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None),
 ('retail_db', 'public', 'categories', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None),
 ('retail_db', 'public', 'products', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None),
 ('retail_db', 'public', 'customers', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None),
 ('retail_db', 'public', 'orders', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None),
 ('retail_db', 'public', 'order_items', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None),
 ('retail_db', 'pg_catalog', 'pg_roles', 'VIEW', None, None, None, None, None, 'NO', 'NO', None),
 ('retail_db', 'public', 'user_logins', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None)]

In [5]:
%sql SELECT max(category_id) FROM categories;

 * postgresql://retail_user:***@localhost:5432/retail_db
1 rows affected.

[(58,)]

In [6]:
%sql SELECT max(customer_id) FROM customers;

 * postgresql://retail_user:***@localhost:5432/retail_db
1 rows affected.

[(12435,)]

In [7]:
%sql SELECT max(department_id) FROM departments;

 * postgresql://retail_user:***@localhost:5432/retail_db
1 rows affected.

[(7,)]

In [8]:
%sql SELECT max(order_id) FROM orders;

 * postgresql://retail_user:***@localhost:5432/retail_db
1 rows affected.

[(68883,)]

In [9]:
%sql SELECT max(product_id) FROM products;

 * postgresql://retail_user:***@localhost:5432/retail_db
1 rows affected.

[(1345,)]

Exercise 2:

Commands to add sequences with START WITH pointing to the maximum value for the corresponding surrogate primary key fields. Make sure to use meaningful names to sequences TABLENAME_SURROGATEFIELD_seq (example: users_user_id_seq for users.user_id)

In [10]:
%%sql

CREATE SEQUENCE categories_category_id_seq
START WITH 59
INCREMENT BY 1;

 * postgresql://retail_user:***@localhost:5432/retail_db
Done.

[]

In [11]:
%%sql

CREATE SEQUENCE customers_customer_id_seq
START WITH 12436
INCREMENT BY 1;

 * postgresql://retail_user:***@localhost:5432/retail_db
Done.

[]

In [12]:
%%sql

CREATE SEQUENCE departments_department_id_seq
START WITH 8
INCREMENT BY 1;

 * postgresql://retail_user:***@localhost:5432/retail_db
Done.

[]

In [21]:
%%sql

CREATE SEQUENCE order_items_order_item_id_seq
START WITH 172199
INCREMENT BY 1;

 * postgresql://retail_user:***@localhost:5432/retail_db
Done.

[]

In [13]:
%%sql

CREATE SEQUENCE orders_order_id_seq
START WITH 68884
INCREMENT BY 1;

 * postgresql://retail_user:***@localhost:5432/retail_db
Done.

[]

In [14]:
%%sql

CREATE SEQUENCE products_product_id_seq
START WITH 1346
INCREMENT BY 1;

 * postgresql://retail_user:***@localhost:5432/retail_db
Done.

[]

Exercise 3:

Commands to alter sequences to bind them to corresponding surrogate primary key fields.

In [16]:
%%sql

ALTER TABLE categories
    ALTER COLUMN category_id
        SET DEFAULT nextval('categories_category_id_seq');

 * postgresql://retail_user:***@localhost:5432/retail_db
Done.

[]

In [17]:
%%sql

ALTER TABLE customers 
    ALTER COLUMN customer_id 
        SET DEFAULT nextval('customers_customer_id_seq');

 * postgresql://retail_user:***@localhost:5432/retail_db
Done.

[]

In [18]:
%%sql

ALTER TABLE departments 
    ALTER COLUMN department_id
        SET DEFAULT nextval('departments_department_id_seq');

 * postgresql://retail_user:***@localhost:5432/retail_db
Done.

[]

In [19]:
%%sql

ALTER TABLE orders 
    ALTER COLUMN order_id 
        SET DEFAULT nextval('orders_order_id_seq');

 * postgresql://retail_user:***@localhost:5432/retail_db
Done.

[]

In [22]:
%%sql

ALTER TABLE order_items 
    ALTER COLUMN order_item_id 
        SET DEFAULT nextval('order_items_order_item_id_seq');

 * postgresql://retail_user:***@localhost:5432/retail_db
Done.

[]

In [23]:
%%sql

ALTER TABLE products 
    ALTER COLUMN product_id 
        SET DEFAULT nextval('products_product_id_seq');

 * postgresql://retail_user:***@localhost:5432/retail_db
Done.

[]

Exercise 4:

Add Foreign Key constraints to the tables.

Validate if the tables have data violataing foreign key constraints (Hint: You can use left outer join to find rows in child table but not in parent table)

Alter tables to add foreign keys as specified.

Here are the relationships for your reference.

orders.order_customer_id to customers.customer_id

order_items.order_item_order_id to orders.order_id

order_items.order_item_product_id to products.product_id

products.product_category_id to categories.category_id

categories.category_department_id to departments.department_id

Solution should contain the following:

Commands to add foreign keys to the tables.

In [24]:
%%sql

ALTER TABLE orders
ADD CONSTRAINT order_customers_fk
    FOREIGN KEY (order_customer_id)
    REFERENCES customers(customer_id);

 * postgresql://retail_user:***@localhost:5432/retail_db
Done.

[]

In [25]:
%%sql

ALTER TABLE order_items
ADD CONSTRAINT order_items_orders_fk 
    FOREIGN KEY (order_item_order_id)
    REFERENCES orders(order_id)

 * postgresql://retail_user:***@localhost:5432/retail_db
Done.

[]

In [26]:
%%sql

ALTER TABLE order_items
ADD CONSTRAINT order_items_products_fk 
    FOREIGN KEY (order_item_product_id)
    REFERENCES products(product_id);

 * postgresql://retail_user:***@localhost:5432/retail_db
Done.

[]

Exercise 5:

Queries to validate whether constraints are created or not. You can come up with queries against information_schema tables such as columns, sequences etc

In [27]:
%%sql

SELECT * FROM information_schema.sequences LIMIT 10

 * postgresql://retail_user:***@localhost:5432/retail_db
7 rows affected.

[('retail_db', 'public', 'user_logins_user_login_id_seq', 'integer', 32, 2, 0, '1', '1', '2147483647', '1', 'NO'),
 ('retail_db', 'public', 'categories_category_id_seq', 'bigint', 64, 2, 0, '59', '1', '9223372036854775807', '1', 'NO'),
 ('retail_db', 'public', 'customers_customer_id_seq', 'bigint', 64, 2, 0, '12436', '1', '9223372036854775807', '1', 'NO'),
 ('retail_db', 'public', 'departments_department_id_seq', 'bigint', 64, 2, 0, '8', '1', '9223372036854775807', '1', 'NO'),
 ('retail_db', 'public', 'orders_order_id_seq', 'bigint', 64, 2, 0, '68884', '1', '9223372036854775807', '1', 'NO'),
 ('retail_db', 'public', 'products_product_id_seq', 'bigint', 64, 2, 0, '1346', '1', '9223372036854775807', '1', 'NO'),
 ('retail_db', 'public', 'order_items_order_item_id_seq', 'bigint', 64, 2, 0, '172199', '1', '9223372036854775807', '1', 'NO')]

In [28]:
%%sql

SELECT * FROM information_schema.columns
WHERE table_name = 'orders';

 * postgresql://retail_user:***@localhost:5432/retail_db
4 rows affected.

[('retail_db', 'public', 'orders', 'order_id', 1, "nextval('orders_order_id_seq'::regclass)", 'NO', 'integer', None, None, 32, 2, 0, None, None, None, None, None, None, None, None, None, None, None, None, 'retail_db', 'pg_catalog', 'int4', None, None, None, None, '1', 'NO', 'NO', None, None, None, None, None, 'NO', 'NEVER', None, 'YES'),
 ('retail_db', 'public', 'orders', 'order_date', 2, None, 'NO', 'timestamp without time zone', None, None, None, None, None, 6, None, None, None, None, None, None, None, None, None, None, None, 'retail_db', 'pg_catalog', 'timestamp', None, None, None, None, '2', 'NO', 'NO', None, None, None, None, None, 'NO', 'NEVER', None, 'YES'),
 ('retail_db', 'public', 'orders', 'order_customer_id', 3, None, 'NO', 'integer', None, None, 32, 2, 0, None, None, None, None, None, None, None, None, None, None, None, None, 'retail_db', 'pg_catalog', 'int4', None, None, None, None, '3', 'NO', 'NO', None, None, None, None, None, 'NO', 'NEVER', None, 'YES'),
 ('retail_db', 'public', 'orders', 'order_status', 4, None, 'NO', 'character varying', 45, 180, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, 'retail_db', 'pg_catalog', 'varchar', None, None, None, None, '4', 'NO', 'NO', None, None, None, None, None, 'NO', 'NEVER', None, 'YES')]

In [29]:
%%sql

SELECT * FROM information_schema.table_constraints
WHERE table_name = 'orders'

 * postgresql://retail_user:***@localhost:5432/retail_db
6 rows affected.

[('retail_db', 'public', 'orders_pkey', 'retail_db', 'public', 'orders', 'PRIMARY KEY', 'NO', 'NO', 'YES'),
 ('retail_db', 'public', 'order_customers_fk', 'retail_db', 'public', 'orders', 'FOREIGN KEY', 'NO', 'NO', 'YES'),
 ('retail_db', 'public', '2200_16610_1_not_null', 'retail_db', 'public', 'orders', 'CHECK', 'NO', 'NO', 'YES'),
 ('retail_db', 'public', '2200_16610_2_not_null', 'retail_db', 'public', 'orders', 'CHECK', 'NO', 'NO', 'YES'),
 ('retail_db', 'public', '2200_16610_3_not_null', 'retail_db', 'public', 'orders', 'CHECK', 'NO', 'NO', 'YES'),
 ('retail_db', 'public', '2200_16610_4_not_null', 'retail_db', 'public', 'orders', 'CHECK', 'NO', 'NO', 'YES')]