# Update Existing Table DataÂ¶
Let us see how we can perform update operation to make changes to existing data inside a table.
* Typically we will have 2 clauses in update.
    * `SET` clause where the columns that are supposed to be updated.
    * Optional `WHERE` clause where we specify the condition to filter for rows that need to be updated.
* As part of the `WHERE` clause generally we will have indexed column for performance reasons.

In [1]:
%run 02.\ Get\ Connections.ipynb

In [2]:
%load_ext sql

In [3]:
%env DATABASE_URL=postgresql://sms_user:sms_password@localhost:5432/sms_db

env: DATABASE_URL=postgresql://sms_user:sms_password@localhost:5432/sms_db

In [4]:
%%sql 

SELECT user_id, 
    user_password 
FROM users

11 rows affected.

[(12, None),
 (13, None),
 (14, None),
 (15, None),
 (16, None),
 (17, None),
 (18, None),
 (22, 'h9LAz7p7ub'),
 (23, 'oEofndp'),
 (24, 'ih7Y69u56'),
 (11, None)]

In [5]:
cursor = sms_connection.cursor()
query = ("""
    DELETE FROM users
    WHERE user_password IS NULL OR user_id = %s
""")

cursor.execute(query, (4,))
sms_connection.commit()
sms_connection.close()

In [6]:
%%sql 

SELECT user_id, user_password FROM users

 * postgresql://sms_user:***@localhost:5432/sms_db
3 rows affected.

[(22, 'h9LAz7p7ub'), (23, 'oEofndp'), (24, 'ih7Y69u56')]