# Querying Data From Table
Let us understand how to build queries to get the data from the table.
* We should leverage database capacity to filter as much data as possible (rather than fetching data into application layer and then filtering).

In [1]:
# Table has been dropped by me and recreated so im gonna insert records into it again
%run 03.\ Inserting\ Data\ into\ Table.ipynb

env: DATABASE_URL=postgresql://sms_user:sms_password@localhost:5432/sms_db
1 rows affected.
 * postgresql://sms_user:***@localhost:5432/sms_db
2 rows affected.
 * postgresql://sms_user:***@localhost:5432/sms_db
3 rows affected.
 * postgresql://sms_user:***@localhost:5432/sms_db
6 rows affected.

In [2]:
%run 02.\ Get\ Connections.ipynb

In [3]:
cursor = sms_connection.cursor()

query = """
    SELECT * FROM users LIMIT 5
"""

cursor.execute(query)

for user in cursor:
    print(user)

sms_connection.close()

(1, 'Scott', 'Tiger', 'scott@tiger.com', False, None, 'U', False, datetime.datetime(2022, 2, 3, 3, 0, 21, 649757), datetime.datetime(2022, 2, 3, 3, 0, 21, 649757))
(2, 'Donald', 'Duck', 'donald@duck.com', False, None, 'U', False, datetime.datetime(2022, 2, 3, 3, 0, 22, 275552), datetime.datetime(2022, 2, 3, 3, 0, 22, 275552))
(3, 'Mickey', 'Mouse', 'mickey@mouse.com', False, None, 'U', True, datetime.datetime(2022, 2, 3, 3, 0, 22, 317277), datetime.datetime(2022, 2, 3, 3, 0, 22, 317277))
(4, 'Gordan', 'Bradock', 'gbradock1@barnesandnoble.com', False, 'h9LAz7p7ub', 'U', True, datetime.datetime(2022, 2, 3, 3, 0, 22, 359827), datetime.datetime(2022, 2, 3, 3, 0, 22, 359827))
(5, 'Tobe1', 'Lyness', 'tlyness21@paginegialle.it', False, 'oEofndp', 'U', True, datetime.datetime(2022, 2, 3, 3, 0, 22, 359827), datetime.datetime(2022, 2, 3, 3, 0, 22, 359827))

### Note: 
Here is how we can filter data based up on user id. As user_id is primary key in the table, we typically use `cursor.fetchone` to fetch the one record as object.

In [4]:
%run 02.\ Get\ Connections.ipynb

In [5]:
cursor = sms_connection.cursor()

query = """
    SELECT * FROM users 
    WHERE user_id = %s 
"""

cursor.execute(query, (1,))

user = cursor.fetchone()

In [6]:
type(user)

tuple

In [7]:
print(user)

(1, 'Scott', 'Tiger', 'scott@tiger.com', False, None, 'U', False, datetime.datetime(2022, 2, 3, 3, 0, 21, 649757), datetime.datetime(2022, 2, 3, 3, 0, 21, 649757))

In [8]:
cursor.description

(Column(name='user_id', type_code=23),
 Column(name='user_first_name', type_code=1043),
 Column(name='user_last_name', type_code=1043),
 Column(name='user_email_id', type_code=1043),
 Column(name='user_email_validated', type_code=16),
 Column(name='user_password', type_code=1043),
 Column(name='user_role', type_code=1043),
 Column(name='is_active', type_code=16),
 Column(name='create_ts', type_code=1114),
 Column(name='last_updated_ts', type_code=1114))

In [9]:
def get_user_details(connection, user_id):
    cursor = connection.cursor()
    query = """
        SELECT * FROM users 
        WHERE user_id = %s 
    """
    cursor.execute(query, (user_id,))
    return cursor.fetchone()

In [10]:
user = get_user_details(sms_connection, 1)
print(user)

(1, 'Scott', 'Tiger', 'scott@tiger.com', False, None, 'U', False, datetime.datetime(2022, 2, 3, 3, 0, 21, 649757), datetime.datetime(2022, 2, 3, 3, 0, 21, 649757))

In [11]:
type(user)

tuple

In [12]:
user = get_user_details(sms_connection, 2)
print(user)

(2, 'Donald', 'Duck', 'donald@duck.com', False, None, 'U', False, datetime.datetime(2022, 2, 3, 3, 0, 22, 275552), datetime.datetime(2022, 2, 3, 3, 0, 22, 275552))

In [13]:
sms_connection.close()

In [14]:
%run 02.\ Get\ Connections.ipynb

### Note:
Here is an example where the function will return dict type object.

In [15]:
import psycopg2
from psycopg2.extras import DictCursor

def get_user_details(connection, user_id):
    cursor = connection.cursor(cursor_factory=DictCursor)
    query = """
        SELECT * FROM users 
        WHERE user_id = %s 
    """
    cursor.execute(query, (user_id,))
    return cursor.fetchone()

In [16]:
user = get_user_details(sms_connection, 1)
print(user)

[1, 'Scott', 'Tiger', 'scott@tiger.com', False, None, 'U', False, datetime.datetime(2022, 2, 3, 3, 0, 21, 649757), datetime.datetime(2022, 2, 3, 3, 0, 21, 649757)]

In [17]:
type(user)

psycopg2.extras.DictRow

In [18]:
user['user_id']

1

In [ ]:
user['user_email_id']

'scott@tiger.com'

### Note:
Here is an example of a query which returns multiple records. We need to use fetchall or fetchmany to return the records as list of tuples or objects.

In [20]:
cursor = sms_connection.cursor()

In [21]:
query = """
    SELECT user_id, user_email_id, user_password
    FROM users
    WHERE user_password IS NOT NULL
"""

In [22]:
cursor.execute(query)

In [23]:
users = cursor.fetchall()

In [24]:
type(users)

list

In [25]:
for user in users:
    print(user)

(4, 'gbradock1@barnesandnoble.com', 'h9LAz7p7ub')
(5, 'tlyness21@paginegialle.it', 'oEofndp')
(6, 'amesias23@twitpic.com', 'ih7Y69u56')

In [26]:
type(users[0])

tuple

In [27]:
from psycopg2.extras import DictCursor

In [28]:
cursor = sms_connection.cursor(cursor_factory=DictCursor)

In [29]:
cursor.execute(query)

In [30]:
users= cursor.fetchall()

In [31]:
for user in users:
    print(user)

[4, 'gbradock1@barnesandnoble.com', 'h9LAz7p7ub']
[5, 'tlyness21@paginegialle.it', 'oEofndp']
[6, 'amesias23@twitpic.com', 'ih7Y69u56']

In [32]:
type(users[0])

psycopg2.extras.DictRow

In [33]:
users[0]['user_email_id']

'gbradock1@barnesandnoble.com'

In [34]:
sms_connection.close()