In [1]:
%load_ext sql

In [2]:
%env DATABASE_URL=postgresql://sms_user:sms_password@localhost:5432/sms_db

env: DATABASE_URL=postgresql://sms_user:sms_password@localhost:5432/sms_db

In [3]:
%%sql

CREATE TABLE users_part_default
PARTITION OF users_part DEFAULT

Done.

[]

In [4]:
%%sql

INSERT INTO users_part (user_first_name, user_last_name, user_email_id, user_role)
VALUES 
    ('Scott', 'Tiger', 'scott@tiger.com', 'U'),
    ('Donald', 'Duck', 'donald@duck.com', 'U'),
    ('Mickey', 'Mouse', 'mickey@mouse.com', 'U')

 * postgresql://sms_user:***@localhost:5432/sms_db
3 rows affected.

[]

In [5]:
%%sql

SELECT * FROM users_part_default

 * postgresql://sms_user:***@localhost:5432/sms_db
3 rows affected.

[(2, 'Scott', 'Tiger', 'scott@tiger.com', False, None, 'U', False, datetime.date(2021, 12, 13), datetime.datetime(2021, 12, 13, 19, 12, 24, 693802)),
 (3, 'Donald', 'Duck', 'donald@duck.com', False, None, 'U', False, datetime.date(2021, 12, 13), datetime.datetime(2021, 12, 13, 19, 12, 24, 693802)),
 (4, 'Mickey', 'Mouse', 'mickey@mouse.com', False, None, 'U', False, datetime.date(2021, 12, 13), datetime.datetime(2021, 12, 13, 19, 12, 24, 693802))]

In [6]:
%%sql

CREATE TABLE users_part_a 
PARTITION OF users_part  
FOR VALUES IN ('A')

 * postgresql://sms_user:***@localhost:5432/sms_db
Done.

[]

In [7]:
%%sql

UPDATE users_part
SET
    user_role = 'A'
WHERE user_email_id = 'scott@tiger.com'

 * postgresql://sms_user:***@localhost:5432/sms_db
1 rows affected.

[]

In [8]:
%%sql

SELECT * FROM users_part

 * postgresql://sms_user:***@localhost:5432/sms_db
3 rows affected.

[(2, 'Scott', 'Tiger', 'scott@tiger.com', False, None, 'A', False, datetime.date(2021, 12, 13), datetime.datetime(2021, 12, 13, 19, 12, 24, 693802)),
 (3, 'Donald', 'Duck', 'donald@duck.com', False, None, 'U', False, datetime.date(2021, 12, 13), datetime.datetime(2021, 12, 13, 19, 12, 24, 693802)),
 (4, 'Mickey', 'Mouse', 'mickey@mouse.com', False, None, 'U', False, datetime.date(2021, 12, 13), datetime.datetime(2021, 12, 13, 19, 12, 24, 693802))]

In [9]:
%%sql 

SELECT * FROM users_part_a

 * postgresql://sms_user:***@localhost:5432/sms_db
1 rows affected.

[(2, 'Scott', 'Tiger', 'scott@tiger.com', False, None, 'A', False, datetime.date(2021, 12, 13), datetime.datetime(2021, 12, 13, 19, 12, 24, 693802))]

In [10]:
%%sql

SELECT * FROM users_part_default

 * postgresql://sms_user:***@localhost:5432/sms_db
2 rows affected.

[(3, 'Donald', 'Duck', 'donald@duck.com', False, None, 'U', False, datetime.date(2021, 12, 13), datetime.datetime(2021, 12, 13, 19, 12, 24, 693802)),
 (4, 'Mickey', 'Mouse', 'mickey@mouse.com', False, None, 'U', False, datetime.date(2021, 12, 13), datetime.datetime(2021, 12, 13, 19, 12, 24, 693802))]

Error

The code below will fail as there are records with user_role ‘U’ in default partition, therefore you can not make a new partition for records with value 'U'

In [11]:
%%sql

CREATE TABLE users_part_u 
PARTITION OF users_part  
FOR VALUES IN ('U')

 * postgresql://sms_user:***@localhost:5432/sms_db

IntegrityError: (psycopg2.errors.CheckViolation) updated partition constraint for default partition "users_part_default" would be violated by some row

[SQL: CREATE TABLE users_part_u PARTITION OF users_part
FOR VALUES IN ('U')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)

Note

We can detach the partition, add partition for ‘U’ and load the data from detached partitione into the new partition created.

In [12]:
%%sql

ALTER TABLE users_part
    DETACH PARTITION users_part_default

 * postgresql://sms_user:***@localhost:5432/sms_db
Done.

[]

In [13]:
%%sql

CREATE TABLE users_part_u 
PARTITION OF users_part  
FOR VALUES IN ('U')

 * postgresql://sms_user:***@localhost:5432/sms_db
Done.

[]

In [14]:
%%sql

INSERT INTO users_part
SELECT * FROM users_part_default

 * postgresql://sms_user:***@localhost:5432/sms_db
2 rows affected.

[]

In [15]:
%%sql

SELECT * FROM users_part_a

 * postgresql://sms_user:***@localhost:5432/sms_db
1 rows affected.

[(2, 'Scott', 'Tiger', 'scott@tiger.com', False, None, 'A', False, datetime.date(2021, 12, 13), datetime.datetime(2021, 12, 13, 19, 12, 24, 693802))]

In [16]:
%%sql

SELECT * FROM users_part_u

 * postgresql://sms_user:***@localhost:5432/sms_db
2 rows affected.

[(3, 'Donald', 'Duck', 'donald@duck.com', False, None, 'U', False, datetime.date(2021, 12, 13), datetime.datetime(2021, 12, 13, 19, 12, 24, 693802)),
 (4, 'Mickey', 'Mouse', 'mickey@mouse.com', False, None, 'U', False, datetime.date(2021, 12, 13), datetime.datetime(2021, 12, 13, 19, 12, 24, 693802))]

In [17]:
%%sql

DROP TABLE users_part_default

 * postgresql://sms_user:***@localhost:5432/sms_db
Done.

[]

In [18]:
%%sql

CREATE TABLE users_part_default
PARTITION OF users_part DEFAULT

 * postgresql://sms_user:***@localhost:5432/sms_db
Done.

[]

In [19]:
%sql SELECT * FROM users_part

 * postgresql://sms_user:***@localhost:5432/sms_db
3 rows affected.

[(2, 'Scott', 'Tiger', 'scott@tiger.com', False, None, 'A', False, datetime.date(2021, 12, 13), datetime.datetime(2021, 12, 13, 19, 12, 24, 693802)),
 (3, 'Donald', 'Duck', 'donald@duck.com', False, None, 'U', False, datetime.date(2021, 12, 13), datetime.datetime(2021, 12, 13, 19, 12, 24, 693802)),
 (4, 'Mickey', 'Mouse', 'mickey@mouse.com', False, None, 'U', False, datetime.date(2021, 12, 13), datetime.datetime(2021, 12, 13, 19, 12, 24, 693802))]