In [1]:
%load_ext sql

In [2]:
%env DATABASE_URL=postgresql://sms_user:sms_password@localhost:5432/sms_db

env: DATABASE_URL=postgresql://sms_user:sms_password@localhost:5432/sms_db

In [3]:
%%sql

TRUNCATE TABLE users_part

Done.

[]

In [4]:
%%sql

INSERT INTO users_part (user_first_name, user_last_name, user_email_id, user_role)
VALUES 
    ('Scott', 'Tiger', 'scott@tiger.com', 'U'),
    ('Donald', 'Duck', 'donald@duck.com', 'U'),
    ('Mickey', 'Mouse', 'mickey@mouse.com', 'U')

 * postgresql://sms_user:***@localhost:5432/sms_db
3 rows affected.

[]

In [5]:
%%sql

SELECT * FROM users_part_u

 * postgresql://sms_user:***@localhost:5432/sms_db
3 rows affected.

[(5, 'Scott', 'Tiger', 'scott@tiger.com', False, None, 'U', False, datetime.date(2021, 12, 13), datetime.datetime(2021, 12, 13, 19, 26, 11, 240008)),
 (6, 'Donald', 'Duck', 'donald@duck.com', False, None, 'U', False, datetime.date(2021, 12, 13), datetime.datetime(2021, 12, 13, 19, 26, 11, 240008)),
 (7, 'Mickey', 'Mouse', 'mickey@mouse.com', False, None, 'U', False, datetime.date(2021, 12, 13), datetime.datetime(2021, 12, 13, 19, 26, 11, 240008))]

In [6]:
%%sql

INSERT INTO users_part_a (user_first_name, user_last_name, user_email_id, user_role)
VALUES
    ('Matt', 'Clarke', 'matt@clarke.com', 'A')

 * postgresql://sms_user:***@localhost:5432/sms_db
1 rows affected.

[]

In [7]:
%%sql

SELECT * FROM users_part

 * postgresql://sms_user:***@localhost:5432/sms_db
4 rows affected.

[(8, 'Matt', 'Clarke', 'matt@clarke.com', False, None, 'A', False, datetime.date(2021, 12, 13), datetime.datetime(2021, 12, 13, 19, 31, 25, 924884)),
 (5, 'Scott', 'Tiger', 'scott@tiger.com', False, None, 'U', False, datetime.date(2021, 12, 13), datetime.datetime(2021, 12, 13, 19, 26, 11, 240008)),
 (6, 'Donald', 'Duck', 'donald@duck.com', False, None, 'U', False, datetime.date(2021, 12, 13), datetime.datetime(2021, 12, 13, 19, 26, 11, 240008)),
 (7, 'Mickey', 'Mouse', 'mickey@mouse.com', False, None, 'U', False, datetime.date(2021, 12, 13), datetime.datetime(2021, 12, 13, 19, 26, 11, 240008))]

In [8]:
%%sql

UPDATE users_part SET
    user_role = 'A'
WHERE user_email_id = 'donald@duck.com'

 * postgresql://sms_user:***@localhost:5432/sms_db
1 rows affected.

[]

In [9]:
%%sql

SELECT * FROM users_part_a

 * postgresql://sms_user:***@localhost:5432/sms_db
2 rows affected.

[(8, 'Matt', 'Clarke', 'matt@clarke.com', False, None, 'A', False, datetime.date(2021, 12, 13), datetime.datetime(2021, 12, 13, 19, 31, 25, 924884)),
 (6, 'Donald', 'Duck', 'donald@duck.com', False, None, 'A', False, datetime.date(2021, 12, 13), datetime.datetime(2021, 12, 13, 19, 26, 11, 240008))]

In [11]:
%%sql

DELETE FROM users_part WHERE user_email_id = 'donald@duck.com'

 * postgresql://sms_user:***@localhost:5432/sms_db
1 rows affected.

[]

In [12]:
%%sql

DELETE FROM users_part_u WHERE user_email_id = 'mickey@mouse.com'

 * postgresql://sms_user:***@localhost:5432/sms_db
1 rows affected.

[]

In [13]:
%%sql

SELECT * FROM users_part

 * postgresql://sms_user:***@localhost:5432/sms_db
2 rows affected.

[(8, 'Matt', 'Clarke', 'matt@clarke.com', False, None, 'A', False, datetime.date(2021, 12, 13), datetime.datetime(2021, 12, 13, 19, 31, 25, 924884)),
 (5, 'Scott', 'Tiger', 'scott@tiger.com', False, None, 'U', False, datetime.date(2021, 12, 13), datetime.datetime(2021, 12, 13, 19, 26, 11, 240008))]