In [1]:
%load_ext sql

In [2]:
%env DATABASE_URL=postgresql://sms_user:sms_password@localhost:5432/sms_db

env: DATABASE_URL=postgresql://sms_user:sms_password@localhost:5432/sms_db

### Let us understand how we can take care of range partitioning of tables.

* It is primarily used to create partitions based up on a given range of values.
* Here are the steps involved in creating table using range partitioning strategy.
* Create table using PARTITION BY RANGE
* Add default and range specific partitions
* Validate by inserting data into the table
* We can detach as well as drop the partitions from the table.


## Create Partitioned Table:
* Let us create partitioned table with name users_range_part.
* It contains same columns as users.
* We will partition the table based up on created_dt field.
* We will create one partition per year with naming convention users_range_part_yyyy (users_range_part_2016).

In [3]:
%sql DROP TABLE IF EXISTS users_range_part CASCADE

Done.

[]

In [8]:
%%sql

CREATE TABLE users_range_part (
    user_id SERIAL,
    user_first_name VARCHAR(30) NOT NULL,
    user_last_name VARCHAR(30) NOT NULL,
    user_email_id VARCHAR(50) NOT NULL,
    user_email_validated BOOLEAN DEFAULT FALSE,
    user_password VARCHAR(200),
    user_role VARCHAR(1) NOT NULL DEFAULT 'U', --U and A
    is_active BOOLEAN DEFAULT FALSE,
    created_dt DATE DEFAULT CURRENT_DATE,
    last_updated_ts TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
    PRIMARY KEY (created_dt, user_id)
) PARTITION BY RANGE(created_dt)

 * postgresql://sms_user:***@localhost:5432/sms_db
Done.

[]

## Managing Partitions - Range:
Let us understand how to manage partitions for the table users_range_part.

* All users data created in a specific year should go to the respective partition created.
* For example, all users data created in the year of 2016 should go to users_range_part_2016.
* We can add partition to existing partitioned table using CREATE TABLE partition_name PARTITION OF table_name.
* We can have a partition for default values so that all the data that does not satisfy the partition condition can be added to it.
* We can have a partition for specific range of values using FOR VALUES FROM (from_value) TO (to_value) as part of CREATE TABLE partition_name PARTITION OF table_name.
* Once partitions are added, we can insert data into the partitioned table.

In [9]:
%%sql

CREATE TABLE users_range_part_default
PARTITION OF users_range_part DEFAULT

 * postgresql://sms_user:***@localhost:5432/sms_db
Done.

[]

In [10]:
%%sql

CREATE TABLE users_range_part_2016
PARTITION OF users_range_part
FOR VALUES FROM ('2016-01-01') TO ('2016-12-31')

 * postgresql://sms_user:***@localhost:5432/sms_db
Done.

[]

## Error
As there is a overlap between the previous partition and below one, command to create partition for data ranging from 2016-01-01 till 2017-12-31 will fail.

In [11]:
%%sql

CREATE TABLE users_range_part_2017
PARTITION OF users_range_part
FOR VALUES FROM ('2016-01-01') TO ('2017-12-31')

 * postgresql://sms_user:***@localhost:5432/sms_db
(psycopg2.errors.InvalidObjectDefinition) partition "users_range_part_2017" would overlap partition "users_range_part_2016"
LINE 2: FOR VALUES FROM ('2016-01-01') TO ('2017-12-31')
                         ^

[SQL: CREATE TABLE users_range_part_2017 PARTITION OF users_range_part
FOR VALUES FROM ('2016-01-01') TO ('2017-12-31')]
(Background on this error at: https://sqlalche.me/e/14/f405)

### Note

This is how we can create partitions for the years 2017, 2018, 2019 etc

In [12]:
%%sql

CREATE TABLE users_range_part_2017
PARTITION OF users_range_part
FOR VALUES FROM ('2017-01-01') TO ('2017-12-31');

 * postgresql://sms_user:***@localhost:5432/sms_db
Done.

[]

In [13]:
%%sql

CREATE TABLE users_range_part_2018
PARTITION OF users_range_part
FOR VALUES FROM ('2018-01-01') TO ('2018-12-31');

 * postgresql://sms_user:***@localhost:5432/sms_db
Done.

[]

In [14]:
%%sql

CREATE TABLE users_range_part_2019
PARTITION OF users_range_part
FOR VALUES FROM ('2019-01-01') TO ('2019-12-31');

 * postgresql://sms_user:***@localhost:5432/sms_db
Done.

[]

In [15]:
%%sql

CREATE TABLE users_range_part_2020
PARTITION OF users_range_part
FOR VALUES FROM ('2020-01-01') TO ('2020-12-31');

 * postgresql://sms_user:***@localhost:5432/sms_db
Done.

[]

In [16]:
%%sql

INSERT INTO users_range_part 
    (user_first_name, user_last_name, user_email_id, created_dt)
VALUES 
    ('Scott', 'Tiger', 'scott@tiger.com', '2018-10-01'),
    ('Donald', 'Duck', 'donald@duck.com', '2019-02-10'),
    ('Mickey', 'Mouse', 'mickey@mouse.com', '2017-06-22')

 * postgresql://sms_user:***@localhost:5432/sms_db
3 rows affected.

[]

In [17]:
%%sql

SELECT user_first_name, user_last_name, user_email_id, created_dt
FROM users_range_part_default

 * postgresql://sms_user:***@localhost:5432/sms_db
0 rows affected.

[]

In [18]:
%%sql

SELECT user_first_name, user_last_name, user_email_id, created_dt
FROM users_range_part_2017

 * postgresql://sms_user:***@localhost:5432/sms_db
1 rows affected.

[('Mickey', 'Mouse', 'mickey@mouse.com', datetime.date(2017, 6, 22))]

In [19]:
%%sql

SELECT user_first_name, user_last_name, user_email_id, created_dt
FROM users_range_part_2018

 * postgresql://sms_user:***@localhost:5432/sms_db
1 rows affected.

[('Scott', 'Tiger', 'scott@tiger.com', datetime.date(2018, 10, 1))]

In [20]:
%%sql

SELECT user_first_name, user_last_name, user_email_id, created_dt
FROM users_range_part_2019

 * postgresql://sms_user:***@localhost:5432/sms_db
1 rows affected.

[('Donald', 'Duck', 'donald@duck.com', datetime.date(2019, 2, 10))]

In [21]:
%%sql

SELECT user_first_name, user_last_name, user_email_id, created_dt
FROM users_range_part_2020

 * postgresql://sms_user:***@localhost:5432/sms_db
0 rows affected.

[]