In [1]:
%load_ext sql

In [2]:
%env DATABASE_URL=postgresql://sms_user:sms_password@localhost:5432/sms_db

env: DATABASE_URL=postgresql://sms_user:sms_password@localhost:5432/sms_db

## Hash Partitioning:
Let us understand how we can take care of Hash partitioning of tables.

* It is primarily used to create partitions based up on modulus and reminder.
* Here are the steps involved in creating table using hash partitioning strategy.
  * Create table using **PARTITION BY HASH**
  * Add default and remainder specific partitions based up on modulus.
  * Validate by inserting data into the table
* We can detach as well as drop the partitions from the table.
* Hash partitioning is typically done on sparse columns such as **user_id**.
* If we want to use hash partitioning on more than one tables with common key, we typically partition all the tables using same key.

In [3]:
%sql DROP TABLE IF EXISTS users_hash_part

Done.

[]

## Create Partitioned Table:
Let us create partitioned table with name users_hash_part.
* It contains same columns as **users**.
* We will partition the table based up on **user_id** field.
* We will create one partition for each reminder with modulus 8.

In [4]:
%%sql

CREATE TABLE users_hash_part (
    user_id SERIAL,
    user_first_name VARCHAR(30) NOT NULL,
    user_last_name VARCHAR(30) NOT NULL,
    user_email_id VARCHAR(50) NOT NULL,
    user_email_validated BOOLEAN DEFAULT FALSE,
    user_password VARCHAR(200),
    user_role VARCHAR(1) NOT NULL DEFAULT 'U', --U and A
    is_active BOOLEAN DEFAULT FALSE,
    created_dt DATE DEFAULT CURRENT_DATE,
    last_updated_ts TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
    PRIMARY KEY (user_id)
) PARTITION BY HASH(user_id)

 * postgresql://sms_user:***@localhost:5432/sms_db
Done.

[]

## Note:
We will not be able to insert the data until we add at least one partition

# Managing Partitions - Hash:
Let us understand how to manage partitions using table users_hash_part which is partitioned using hash.
* We would like to divide our data into 8 hash buckets.
* While adding partitions for hash partitioned table, we need to specify modulus and remainder.
* For each and every record inserted, following will happen for the column specified as partitioned key.
    * A hash will be computed. Hash is nothing but an integer.
    * The integer generated will be divided by the value specified in modulus.
    * Based up on the remainder, the record will be inserted into corresponding partition.

### Error:
We cannot have a default partition for hash partitioned tables.

In [5]:
%%sql

CREATE TABLE users_hash_part_default
PARTITION OF users_hash_part DEFAULT

 * postgresql://sms_user:***@localhost:5432/sms_db
(psycopg2.errors.InvalidTableDefinition) a hash-partitioned table may not have a default partition

[SQL: CREATE TABLE users_hash_part_default PARTITION OF users_hash_part DEFAULT]
(Background on this error at: https://sqlalche.me/e/14/f405)

In [6]:
%%sql

CREATE TABLE users_hash_part_0_of_8
PARTITION OF users_hash_part
FOR VALUES WITH (modulus 8, remainder 0)

 * postgresql://sms_user:***@localhost:5432/sms_db
Done.

[]

In [12]:
%%sql

CREATE TABLE users_hash_part_1_of_8
PARTITION OF users_hash_part
FOR VALUES WITH (modulus 8, remainder 1)

 * postgresql://sms_user:***@localhost:5432/sms_db
Done.

[]

In [7]:
%%sql

CREATE TABLE users_hash_part_2_of_8
PARTITION OF users_hash_part
FOR VALUES WITH (modulus 8, remainder 2)

 * postgresql://sms_user:***@localhost:5432/sms_db
Done.

[]

In [8]:
%%sql

CREATE TABLE users_hash_part_3_of_8
PARTITION OF users_hash_part
FOR VALUES WITH (modulus 8, remainder 3)

 * postgresql://sms_user:***@localhost:5432/sms_db
Done.

[]

In [9]:
%%sql

CREATE TABLE users_hash_part_4_of_8
PARTITION OF users_hash_part
FOR VALUES WITH (modulus 8, remainder 4)

 * postgresql://sms_user:***@localhost:5432/sms_db
Done.

[]

In [10]:
%%sql

CREATE TABLE users_hash_part_5_of_8
PARTITION OF users_hash_part
FOR VALUES WITH (modulus 8, remainder 5)

 * postgresql://sms_user:***@localhost:5432/sms_db
Done.

[]

In [11]:
%%sql

CREATE TABLE users_hash_part_6_of_8
PARTITION OF users_hash_part
FOR VALUES WITH (modulus 8, remainder 6)

 * postgresql://sms_user:***@localhost:5432/sms_db
Done.

[]

In [13]:
%%sql

CREATE TABLE users_hash_part_7_of_8
PARTITION OF users_hash_part
FOR VALUES WITH (modulus 8, remainder 7)

 * postgresql://sms_user:***@localhost:5432/sms_db
Done.

[]

In [14]:
%%sql

INSERT INTO users_hash_part
    (user_first_name, user_last_name, user_email_id, created_dt)
VALUES 
    ('Scott', 'Tiger', 'scott@tiger.com', '2018-10-01'),
    ('Donald', 'Duck', 'donald@duck.com', '2019-02-10'),
    ('Mickey', 'Mouse', 'mickey@mouse.com', '2017-06-22')

 * postgresql://sms_user:***@localhost:5432/sms_db
3 rows affected.

[]

## Note: 
**user_id** is populated by sequence. The hash of every sequence generated integer will be divided by modulus (which is 8) and based up on the remainder data will be inserted into corresponding partition.

In [15]:
%%sql

SELECT * FROM users_hash_part

 * postgresql://sms_user:***@localhost:5432/sms_db
3 rows affected.

[(1, 'Scott', 'Tiger', 'scott@tiger.com', False, None, 'U', False, datetime.date(2018, 10, 1), datetime.datetime(2021, 12, 14, 0, 6, 12, 849567)),
 (3, 'Mickey', 'Mouse', 'mickey@mouse.com', False, None, 'U', False, datetime.date(2017, 6, 22), datetime.datetime(2021, 12, 14, 0, 6, 12, 849567)),
 (2, 'Donald', 'Duck', 'donald@duck.com', False, None, 'U', False, datetime.date(2019, 2, 10), datetime.datetime(2021, 12, 14, 0, 6, 12, 849567))]

In [16]:
%%sql

SELECT * FROM users_hash_part_0_of_8

 * postgresql://sms_user:***@localhost:5432/sms_db
1 rows affected.

[(1, 'Scott', 'Tiger', 'scott@tiger.com', False, None, 'U', False, datetime.date(2018, 10, 1), datetime.datetime(2021, 12, 14, 0, 6, 12, 849567))]

In [17]:
%%sql

SELECT * FROM users_hash_part_1_of_8

 * postgresql://sms_user:***@localhost:5432/sms_db
1 rows affected.

[(3, 'Mickey', 'Mouse', 'mickey@mouse.com', False, None, 'U', False, datetime.date(2017, 6, 22), datetime.datetime(2021, 12, 14, 0, 6, 12, 849567))]

In [18]:
%%sql

SELECT * FROM users_hash_part_2_of_8

 * postgresql://sms_user:***@localhost:5432/sms_db
1 rows affected.

[(2, 'Donald', 'Duck', 'donald@duck.com', False, None, 'U', False, datetime.date(2019, 2, 10), datetime.datetime(2021, 12, 14, 0, 6, 12, 849567))]

In [19]:
%%sql

SELECT * FROM users_hash_part_3_of_8

 * postgresql://sms_user:***@localhost:5432/sms_db
0 rows affected.

[]

In [20]:
%%sql

SELECT * FROM users_hash_part_4_of_8

 * postgresql://sms_user:***@localhost:5432/sms_db
0 rows affected.

[]

In [21]:
%%sql

SELECT * FROM users_hash_part_5_of_8

 * postgresql://sms_user:***@localhost:5432/sms_db
0 rows affected.

[]

In [22]:
%%sql

SELECT * FROM users_hash_part_6_of_8

 * postgresql://sms_user:***@localhost:5432/sms_db
0 rows affected.

[]

In [23]:
%%sql

SELECT * FROM users_hash_part_7_of_8

 * postgresql://sms_user:***@localhost:5432/sms_db
0 rows affected.

[]