In [1]:
%load_ext sql

In [2]:
%env DATABASE_URL=postgresql://retail_user:retail_password@localhost:5432/retail_db

env: DATABASE_URL=postgresql://retail_user:retail_password@localhost:5432/retail_db

# Exercise 1:
Create table orders_part with the same columns as orders.
* Partition the table by month using range partitioning on `order_date`.
* Add 14 partitions - 13 based up on the data and 1 default. Here is the naming convention.
    * Default - orders_part_default
    * Partition for 2014 January - orders_part_201401

In [3]:
%%sql

CREATE TABLE orders_part(
    order_id INT,
    order_date DATE,
    order_customer_id INT,
    order_status VARCHAR(45)
) PARTITION BY RANGE(order_date);

Done.

[]

In [4]:
%%sql 

CREATE TABLE orders_part_default
PARTITION OF orders_part DEFAULT;

 * postgresql://retail_user:***@localhost:5432/retail_db
Done.

[]

In [7]:
%%sql

CREATE TABLE orders_part_201307
PARTITION OF orders_part 
FOR VALUES FROM ('2013-07-01') TO ('2013-08-01')

 * postgresql://retail_user:***@localhost:5432/retail_db
Done.

[]

In [8]:
%%sql

CREATE TABLE orders_part_201308
PARTITION OF orders_part 
FOR VALUES FROM ('2013-08-01') TO ('2013-09-01')

 * postgresql://retail_user:***@localhost:5432/retail_db
Done.

[]

In [9]:
%%sql

CREATE TABLE orders_part_201309
PARTITION OF orders_part 
FOR VALUES FROM ('2013-09-01') TO ('2013-10-01')

 * postgresql://retail_user:***@localhost:5432/retail_db
Done.

[]

In [10]:
%%sql

CREATE TABLE orders_part_201310
PARTITION OF orders_part 
FOR VALUES FROM ('2013-10-01') TO ('2013-11-01')

 * postgresql://retail_user:***@localhost:5432/retail_db
Done.

[]

In [11]:
%%sql

CREATE TABLE orders_part_201311
PARTITION OF orders_part 
FOR VALUES FROM ('2013-11-01') TO ('2013-12-01')

 * postgresql://retail_user:***@localhost:5432/retail_db
Done.

[]

In [12]:
%%sql

CREATE TABLE orders_part_201312
PARTITION OF orders_part
FOR VALUES FROM ('2013-12-01') TO ('2014-01-01')

 * postgresql://retail_user:***@localhost:5432/retail_db
Done.

[]

In [13]:
%%sql

CREATE TABLE orders_part_201401
PARTITION OF orders_part
FOR VALUES FROM ('2014-01-01') TO ('2014-02-01')

 * postgresql://retail_user:***@localhost:5432/retail_db
Done.

[]

In [14]:
%%sql

CREATE TABLE orders_part_201402
PARTITION OF orders_part
FOR VALUES FROM ('2014-02-01') TO ('2014-03-1')

 * postgresql://retail_user:***@localhost:5432/retail_db
Done.

[]

In [15]:
%%sql

CREATE TABLE orders_part_201403
PARTITION OF orders_part
FOR VALUES FROM ('2014-03-01') TO ('2014-04-01')

 * postgresql://retail_user:***@localhost:5432/retail_db
Done.

[]

In [16]:
%%sql

CREATE TABLE orders_part_201404
PARTITION OF orders_part
FOR VALUES FROM ('2014-04-01') TO ('2014-05-01')

 * postgresql://retail_user:***@localhost:5432/retail_db
Done.

[]

In [17]:
%%sql

CREATE TABLE orders_part_201405
PARTITION OF orders_part
FOR VALUES FROM ('2014-05-01') TO ('2014-06-01')

 * postgresql://retail_user:***@localhost:5432/retail_db
Done.

[]

In [18]:
%%sql

CREATE TABLE orders_part_201406
PARTITION OF orders_part
FOR VALUES FROM ('2014-06-01') TO ('2014-07-01')

 * postgresql://retail_user:***@localhost:5432/retail_db
Done.

[]

In [19]:
%%sql

CREATE TABLE orders_part_201407
PARTITION OF orders_part
FOR VALUES FROM ('2014-07-01') TO ('2014-08-01')

 * postgresql://retail_user:***@localhost:5432/retail_db
Done.

[]

# Exercise 2:
Let us load and validate data in the partitioned table.
* Load the data from **orders** into **orders_part**.
* Get count on **orders_part** as well as all the 14 partitions. You should get 0 for default partition and all the records should be distributed using the other 13 partitions.

In [21]:
%%sql 

INSERT INTO orders_part
SELECT * FROM orders

 * postgresql://retail_user:***@localhost:5432/retail_db
68883 rows affected.

[]

In [23]:
%%sql

SELECT count(1) FROM orders_part;
SELECT count(1) FROM orders;

 * postgresql://retail_user:***@localhost:5432/retail_db
1 rows affected.
1 rows affected.

[(68883,)]

In [26]:
%%sql

SELECT count(1) FROM orders_part_default;

 * postgresql://retail_user:***@localhost:5432/retail_db
1 rows affected.

[(0,)]

In [27]:
%sql SELECT count(1) FROM orders_part_201307;

 * postgresql://retail_user:***@localhost:5432/retail_db
1 rows affected.

[(1533,)]

In [28]:
%sql SELECT count(1) FROM orders_part_201308;

 * postgresql://retail_user:***@localhost:5432/retail_db
1 rows affected.

[(5680,)]

In [29]:
%sql SELECT count(1) FROM orders_part_201309;

 * postgresql://retail_user:***@localhost:5432/retail_db
1 rows affected.

[(5841,)]

In [30]:
%sql SELECT count(1) FROM orders_part_201310;

 * postgresql://retail_user:***@localhost:5432/retail_db
1 rows affected.

[(5335,)]

In [31]:
%sql SELECT count(1) FROM orders_part_201311;

 * postgresql://retail_user:***@localhost:5432/retail_db
1 rows affected.

[(6381,)]

In [32]:
%sql SELECT count(1) FROM orders_part_201312;

 * postgresql://retail_user:***@localhost:5432/retail_db
1 rows affected.

[(5892,)]

In [33]:
%sql SELECT count(1) FROM orders_part_201401;

 * postgresql://retail_user:***@localhost:5432/retail_db
1 rows affected.

[(5908,)]

In [34]:
%sql SELECT count(1) FROM orders_part_201402;

 * postgresql://retail_user:***@localhost:5432/retail_db
1 rows affected.

[(5635,)]

In [35]:
%sql SELECT count(1) FROM orders_part_201403;

 * postgresql://retail_user:***@localhost:5432/retail_db
1 rows affected.

[(5778,)]

In [36]:
%sql SELECT count(1) FROM orders_part_201404;

 * postgresql://retail_user:***@localhost:5432/retail_db
1 rows affected.

[(5657,)]

In [37]:
%sql SELECT count(1) FROM orders_part_201405;

 * postgresql://retail_user:***@localhost:5432/retail_db
1 rows affected.

[(5467,)]

In [38]:
%sql SELECT count(1) FROM orders_part_201406;

 * postgresql://retail_user:***@localhost:5432/retail_db
1 rows affected.

[(5308,)]

In [39]:
%sql SELECT count(1) FROM orders_part_201407;

 * postgresql://retail_user:***@localhost:5432/retail_db
1 rows affected.

[(4468,)]