# Exercises - Dicts and Tuples
Let us go through some exercises related to dict and tuple.

# Exercise 1 - Access all the values
Get the values from the below dict in the form of a list.

In [3]:
d = {
    'order_id': 1,
    'order_date': '2013-07-25',
    'order_customer_id': 100,
    'order_status': 'COMPLETE'
}
def get_values(d):
    l = []
    for x in d:
        l.append(d[x])
    return l
get_values(d)

[1, '2013-07-25', 100, 'COMPLETE']

In [ ]:
type(get_values(d))

list

# Exercise 2 - Get Data types of values
Continue on previous exercise and print data type of each value returned by get_values.

In [5]:
l = get_values(d)

for i in l: print(type(i))

<class 'int'>
<class 'str'>
<class 'int'>
<class 'str'>

In [8]:
d = {
    'order_id': 1,
    'order_date': '2013-07-25',
    'order_customer_id': 100,
    'order_status': 'COMPLETE'
}

from datetime import datetime
def convert_date(d):
    d['order_date'] = datetime.strptime(d['order_date'], '%Y-%m-%d')
    return d
d_converted = convert_date(d)
d_converted

{'order_id': 1,
 'order_date': datetime.datetime(2013, 7, 25, 0, 0),
 'order_customer_id': 100,
 'order_status': 'COMPLETE'}

In [9]:
type(d_converted['order_date'])

datetime.datetime

# Exercise 4 - Create list of dicts
Create list of dicts for the following data.
* Each element in the list should be of type dict.
* The dict should contain order_item_order_id and order_item_subtotal as keys.

In [23]:
l = [(1,299.98), (2,199.99), (2, 250) , (2, 129.99), 
     (4, 49.98), (4, 299.95), (2, 150), (4, 199.92)]
dic = {}

for x,y in l:
    if dic.get(x):
        dic[x].append(y)
    else:
        dic[x] = [y]
res = [{x:dic[x]} for x in dic]
res

[{1: [299.98]}, {2: [199.99, 250, 129.99, 150]}, {4: [49.98, 299.95, 199.92]}]

# Exercise 5: Dict with max value
Create a dict with order id and max order item subtotal using the below dict. The below dict contains order id as key and order item subtotals list as corresponding value.

In [28]:
order_item_subtotals = {
    1: [299.98],
    2: [199.99, 250.0, 129.99],
    4: [49.98, 150.0, 199.92],
    5: [299.98, 299.95, 99.96, 299.98, 129.99],
    7: [199.99, 299.98, 79.95],
    8: [179.97, 299.95, 199.92, 50.0]
}
res = {x: max(order_item_subtotals[x]) for x in order_item_subtotals}
res

{1: 299.98, 2: 250.0, 4: 199.92, 5: 299.98, 7: 299.98, 8: 299.95}

# Exercise 6: Dict with order revenue
Create a dict with order item id and order item subtotal. The input dict will contain order item id as key and quantity along with price as value. order item subtotal is product of quantity and price.

In [26]:
order_items = {1: (1, 299.98),
 2: (1, 199.99),
 3: (5, 50.0),
 4: (1, 129.99),
 5: (2, 24.99),
 6: (5, 59.99),
 7: (3, 50.0),
 8: (4, 49.98),
 9: (1, 299.98),
 10: (5, 59.99)}

res = {i:order_items[i][0] * order_items[i][1] for i in order_items}
res

{1: 299.98,
 2: 199.99,
 3: 250.0,
 4: 129.99,
 5: 49.98,
 6: 299.95,
 7: 150.0,
 8: 199.92,
 9: 299.98,
 10: 299.95}