In [1]:
%load_ext sql

In [2]:
%env DATABASE_URL=postgresql://sms_user:sms_password@localhost:5432/sms_db

env: DATABASE_URL=postgresql://sms_user:sms_password@localhost:5432/sms_db

# DML â€“ Data Manipulation Language:
Once the tables are created, we typically have to manipulate data inside the tables.
* All the statements that are used to manipulate data in tables are categorized under DML.
* Each entry in a table is typically termed as **row** or **record**.
* We use `INSERT` to insert one or more new records into a table.
* `UPDATE` can be used to update existing records inside a table.
* One can use `DELETE` to delete one or more records from a table.
* We can also use `TRUNCATE` to delete all the records in one shot. However it is DDL Statement and we should not use as part of web or mobile application development.
* All DML Statements can be committed or rolled back with in a transaction.
* Here is sample insert statement which uses all not null columns with out any default values

In [3]:
%%sql result_set <<

INSERT INTO users (user_first_name, user_last_name, user_email_id)
VALUES ('Gordan', 'Bradock', 'gbradock0@barnesandnoble.com')

1 rows affected.
Returning data to local variable result_set

In [4]:
%sql SELECT * FROM users

 * postgresql://sms_user:***@localhost:5432/sms_db
1 rows affected.

[(1, 'Gordan', 'Bradock', 'gbradock0@barnesandnoble.com', False, None, 'U', False, datetime.date(2022, 1, 6), datetime.datetime(2022, 1, 6, 0, 37, 28, 950927))]

In [5]:
%%sql result_set <<

INSERT INTO users (user_first_name, user_last_name, user_email_id)
VALUES 
    ('Tobe', 'Lyness', 'tlyness1@paginegialle.it'),
    ('Addie', 'Mesias', 'amesias2@twitpic.com'),
    ('Corene', 'Kohrsen', 'ckohrsen3@buzzfeed.com'),
    ('Darill', 'Halsall', 'dhalsall4@intel.com')

 * postgresql://sms_user:***@localhost:5432/sms_db
4 rows affected.
Returning data to local variable result_set

In [6]:
%sql SELECT * FROM users

 * postgresql://sms_user:***@localhost:5432/sms_db
5 rows affected.

[(1, 'Gordan', 'Bradock', 'gbradock0@barnesandnoble.com', False, None, 'U', False, datetime.date(2022, 1, 6), datetime.datetime(2022, 1, 6, 0, 37, 28, 950927)),
 (2, 'Tobe', 'Lyness', 'tlyness1@paginegialle.it', False, None, 'U', False, datetime.date(2022, 1, 6), datetime.datetime(2022, 1, 6, 0, 37, 46, 998911)),
 (3, 'Addie', 'Mesias', 'amesias2@twitpic.com', False, None, 'U', False, datetime.date(2022, 1, 6), datetime.datetime(2022, 1, 6, 0, 37, 46, 998911)),
 (4, 'Corene', 'Kohrsen', 'ckohrsen3@buzzfeed.com', False, None, 'U', False, datetime.date(2022, 1, 6), datetime.datetime(2022, 1, 6, 0, 37, 46, 998911)),
 (5, 'Darill', 'Halsall', 'dhalsall4@intel.com', False, None, 'U', False, datetime.date(2022, 1, 6), datetime.datetime(2022, 1, 6, 0, 37, 46, 998911))]

In [7]:
%sql UPDATE users SET user_email_validated = true, is_active = true

 * postgresql://sms_user:***@localhost:5432/sms_db
5 rows affected.

[]

In [8]:
%sql SELECT * FROM users

 * postgresql://sms_user:***@localhost:5432/sms_db
5 rows affected.

[(1, 'Gordan', 'Bradock', 'gbradock0@barnesandnoble.com', True, None, 'U', True, datetime.date(2022, 1, 6), datetime.datetime(2022, 1, 6, 0, 37, 28, 950927)),
 (2, 'Tobe', 'Lyness', 'tlyness1@paginegialle.it', True, None, 'U', True, datetime.date(2022, 1, 6), datetime.datetime(2022, 1, 6, 0, 37, 46, 998911)),
 (3, 'Addie', 'Mesias', 'amesias2@twitpic.com', True, None, 'U', True, datetime.date(2022, 1, 6), datetime.datetime(2022, 1, 6, 0, 37, 46, 998911)),
 (4, 'Corene', 'Kohrsen', 'ckohrsen3@buzzfeed.com', True, None, 'U', True, datetime.date(2022, 1, 6), datetime.datetime(2022, 1, 6, 0, 37, 46, 998911)),
 (5, 'Darill', 'Halsall', 'dhalsall4@intel.com', True, None, 'U', True, datetime.date(2022, 1, 6), datetime.datetime(2022, 1, 6, 0, 37, 46, 998911))]

## Note:
the following command will fail as it violates the constraints set up on the table where role must be U or A

In [9]:
%sql UPDATE users SET user_role = 'C' WHERE user_id = 1

 * postgresql://sms_user:***@localhost:5432/sms_db

IntegrityError: (psycopg2.errors.CheckViolation) new row for relation "users" violates check constraint "users_user_role_check"
DETAIL:  Failing row contains (1, Gordan, Bradock, gbradock0@barnesandnoble.com, t, null, C, t, 2022-01-06, 2022-01-06 00:37:28.950927).

[SQL: UPDATE users SET user_role = 'C' WHERE user_id = 1]
(Background on this error at: https://sqlalche.me/e/14/gkpj)

In [10]:
%sql UPDATE users SET user_role = 'A' WHERE user_id = 1

 * postgresql://sms_user:***@localhost:5432/sms_db
1 rows affected.

[]

In [11]:
%sql SELECT * FROM users

 * postgresql://sms_user:***@localhost:5432/sms_db
5 rows affected.

[(2, 'Tobe', 'Lyness', 'tlyness1@paginegialle.it', True, None, 'U', True, datetime.date(2022, 1, 6), datetime.datetime(2022, 1, 6, 0, 37, 46, 998911)),
 (3, 'Addie', 'Mesias', 'amesias2@twitpic.com', True, None, 'U', True, datetime.date(2022, 1, 6), datetime.datetime(2022, 1, 6, 0, 37, 46, 998911)),
 (4, 'Corene', 'Kohrsen', 'ckohrsen3@buzzfeed.com', True, None, 'U', True, datetime.date(2022, 1, 6), datetime.datetime(2022, 1, 6, 0, 37, 46, 998911)),
 (5, 'Darill', 'Halsall', 'dhalsall4@intel.com', True, None, 'U', True, datetime.date(2022, 1, 6), datetime.datetime(2022, 1, 6, 0, 37, 46, 998911)),
 (1, 'Gordan', 'Bradock', 'gbradock0@barnesandnoble.com', True, None, 'A', True, datetime.date(2022, 1, 6), datetime.datetime(2022, 1, 6, 0, 37, 28, 950927))]

In [12]:
%sql DELETE FROM users WHERE user_role = 'U'

 * postgresql://sms_user:***@localhost:5432/sms_db
4 rows affected.

[]

In [13]:
%sql SELECT * FROM users

 * postgresql://sms_user:***@localhost:5432/sms_db
1 rows affected.

[(1, 'Gordan', 'Bradock', 'gbradock0@barnesandnoble.com', True, None, 'A', True, datetime.date(2022, 1, 6), datetime.datetime(2022, 1, 6, 0, 37, 28, 950927))]