In [2]:
%load_ext sql

In [3]:
%env DATABASE_URL=postgresql://sms_user:sms_password@localhost:5432/sms_db

env: DATABASE_URL=postgresql://sms_user:sms_password@localhost:5432/sms_db

# DQL â€“ Data Query Language:
Let us go through the details related to DQL.
* Here are some of the queries we typically run against database tables.
    * Selecting or projecting the data
    * Filtering the data
    * Performing aggregations
    * Joining multiple tables
    * Sorting the data
* Let us run some queries to be a bit comfortable with the queries.

In [4]:
%sql TRUNCATE TABLE users

Done.

[]

In [5]:
%%sql result_set <<

INSERT INTO users (user_first_name, user_last_name, user_email_id, user_role, created_dt)
VALUES ('Gordan', 'Bradock', 'gbradock0@barnesandnoble.com', 'A', '2020-01-10')

 * postgresql://sms_user:***@localhost:5432/sms_db
1 rows affected.
Returning data to local variable result_set

In [6]:
%%sql result_set <<

INSERT INTO users (user_first_name, user_last_name, user_email_id, created_dt)
VALUES 
    ('Tobe', 'Lyness', 'tlyness1@paginegialle.it', '2020-02-10'),
    ('Addie', 'Mesias', 'amesias2@twitpic.com', '2020-03-05'),
    ('Corene', 'Kohrsen', 'ckohrsen3@buzzfeed.com', '2020-04-15'),
    ('Darill', 'Halsall', 'dhalsall4@intel.com', '2020-10-10')

 * postgresql://sms_user:***@localhost:5432/sms_db
4 rows affected.
Returning data to local variable result_set

In [7]:
%sql SELECT * FROM users

 * postgresql://sms_user:***@localhost:5432/sms_db
5 rows affected.

[(6, 'Gordan', 'Bradock', 'gbradock0@barnesandnoble.com', False, None, 'A', False, datetime.date(2020, 1, 10), datetime.datetime(2022, 1, 6, 0, 50, 18, 793057)),
 (7, 'Tobe', 'Lyness', 'tlyness1@paginegialle.it', False, None, 'U', False, datetime.date(2020, 2, 10), datetime.datetime(2022, 1, 6, 0, 50, 25, 527303)),
 (8, 'Addie', 'Mesias', 'amesias2@twitpic.com', False, None, 'U', False, datetime.date(2020, 3, 5), datetime.datetime(2022, 1, 6, 0, 50, 25, 527303)),
 (9, 'Corene', 'Kohrsen', 'ckohrsen3@buzzfeed.com', False, None, 'U', False, datetime.date(2020, 4, 15), datetime.datetime(2022, 1, 6, 0, 50, 25, 527303)),
 (10, 'Darill', 'Halsall', 'dhalsall4@intel.com', False, None, 'U', False, datetime.date(2020, 10, 10), datetime.datetime(2022, 1, 6, 0, 50, 25, 527303))]

In [8]:
%sql SELECT * FROM users WHERE user_role = 'A' AND created_dt BETWEEN '2020-01-01' AND '2020-03-31'

 * postgresql://sms_user:***@localhost:5432/sms_db
1 rows affected.

[(6, 'Gordan', 'Bradock', 'gbradock0@barnesandnoble.com', False, None, 'A', False, datetime.date(2020, 1, 10), datetime.datetime(2022, 1, 6, 0, 50, 18, 793057))]

In [9]:
%sql SELECT user_first_name, user_last_name, user_email_id, user_role FROM users WHERE user_role = 'A' AND created_dt BETWEEN '2020-01-01' AND '2020-03-31'

 * postgresql://sms_user:***@localhost:5432/sms_db
1 rows affected.

[('Gordan', 'Bradock', 'gbradock0@barnesandnoble.com', 'A')]

In [10]:
%sql SELECT * FROM users WHERE user_role != 'A' AND created_dt BETWEEN '2020-01-01' AND '2020-03-31'

 * postgresql://sms_user:***@localhost:5432/sms_db
2 rows affected.

[(7, 'Tobe', 'Lyness', 'tlyness1@paginegialle.it', False, None, 'U', False, datetime.date(2020, 2, 10), datetime.datetime(2022, 1, 6, 0, 50, 25, 527303)),
 (8, 'Addie', 'Mesias', 'amesias2@twitpic.com', False, None, 'U', False, datetime.date(2020, 3, 5), datetime.datetime(2022, 1, 6, 0, 50, 25, 527303))]

In [11]:
%sql SELECT user_role, count(1) FROM users GROUP BY user_role ORDER BY user_role

 * postgresql://sms_user:***@localhost:5432/sms_db
2 rows affected.

[('A', 1), ('U', 4)]