In [1]:
%load_ext sql

In [2]:
%env DATABASE_URL=postgresql://sms_user:sms_password@localhost:5432/sms_db

env: DATABASE_URL=postgresql://sms_user:sms_password@localhost:5432/sms_db

# Example - Data Engineering:
Let us understand how CRUD operations are performed for Data Engineering using Python. Donâ€™t worry if you do not understand the example completely. By the end of the course, you are supposed to gain fair amount of expertise related to Data Engineering.

Here are the highlevel steps to connect to database and perform CRUD operations for Data Engineering applications:
* Make sure to install database driver such as `psycopg2` using pip.
* Import `psycopg2` and connect to database
* We can insert one record at a time or list of records at a time. After inserting the records, make sure to commit.
* Get data from the table into resultset.
* Iterate through the resultset and print.
* Once all the database operations are performed make sure to close the database connection.

In [3]:
%sql TRUNCATE TABLE users

Done.

[]

In [4]:
import psycopg2

In [5]:
psycopg2.connect?

Signature:
psycopg2.connect(
    dsn=None,
    connection_factory=None,
    cursor_factory=None,
    **kwargs,
)
Docstring:
Create a new database connection.

The connection parameters can be specified as a string:

    conn = psycopg2.connect("dbname=test user=postgres password=secret")

or using a set of keyword arguments:

    conn = psycopg2.connect(database="test", user="postgres", password="secret")

Or as a mix of both. The basic connection parameters are:

- *dbname*: the database name
- *database*: the database name (only as keyword argument)
- *user*: user name used to authenticate
- *password*: password used to authenticate
- *host*: database host address (defaults to UNIX socket if not provided)
- *port*: connection port number (defaults to 5432 if not provided)

Using the *connection_factory* parameter a different class or connections
factory can be specified. It should be a callable object taking a dsn
argument.

Using the *cursor_factory* parameter, a new default cursor factory will be
used by cursor().

Using *async*=True an asynchronous connection will be created. *async_* is
a valid alias (for Python versions where ``async`` is a keyword).

Any other keyword parameter will be passed to the underlying client
library: the list of supported parameters depends on the library version.
File:      ~/demojl/lib/python3.6/site-packages/psycopg2/__init__.py
Type:      function

In [6]:
user = ('Gordan', 'Bradock', 'gbradock0@barnesandnoble.com', 'A', '2020-01-10')

In [7]:
query = '''
INSERT INTO users 
    (user_first_name, user_last_name, user_email_id, user_role, created_dt) 
VALUES 
    (%s, %s, %s, %s, %s)
'''

In [9]:
connection = psycopg2.connect(
    host = 'localhost',
    port = '5432',
    database = 'sms_db',
    user = 'sms_user',
    password = 'sms_password'
)

In [10]:
cursor = connection.cursor()

In [11]:
cursor.execute(query,user)

In [12]:
%sql SELECT * FROM users

 * postgresql://sms_user:***@localhost:5432/sms_db
0 rows affected.

[]

## Note:
the above did show anything bc with psycopg2 you have to commit before the records are put into the database.

In [13]:
connection.commit()

In [14]:
%sql SELECT * FROM users

 * postgresql://sms_user:***@localhost:5432/sms_db
1 rows affected.

[(11, 'Gordan', 'Bradock', 'gbradock0@barnesandnoble.com', False, None, 'A', False, datetime.date(2020, 1, 10), datetime.datetime(2022, 1, 6, 23, 37, 52, 160880))]

In [15]:
users = [
    ('Tobe', 'Lyness', 'tlyness1@paginegialle.it', '2020-02-10'),
    ('Addie', 'Mesias', 'amesias2@twitpic.com', '2020-03-05'),
    ('Corene', 'Kohrsen', 'ckohrsen3@buzzfeed.com', '2020-04-15'),
    ('Darill', 'Halsall', 'dhalsall4@intel.com', '2020-10-10') 
]

In [16]:
query = '''
INSERT INTO users 
    (user_first_name, user_last_name, user_email_id, created_dt) 
VALUES 
    (%s, %s, %s, %s)
'''

In [17]:
cursor.executemany(query,users)

In [18]:
connection.commit()

In [19]:
%sql SELECT * from users

 * postgresql://sms_user:***@localhost:5432/sms_db
5 rows affected.

[(11, 'Gordan', 'Bradock', 'gbradock0@barnesandnoble.com', False, None, 'A', False, datetime.date(2020, 1, 10), datetime.datetime(2022, 1, 6, 23, 37, 52, 160880)),
 (12, 'Tobe', 'Lyness', 'tlyness1@paginegialle.it', False, None, 'U', False, datetime.date(2020, 2, 10), datetime.datetime(2022, 1, 6, 23, 40, 18, 156859)),
 (13, 'Addie', 'Mesias', 'amesias2@twitpic.com', False, None, 'U', False, datetime.date(2020, 3, 5), datetime.datetime(2022, 1, 6, 23, 40, 18, 156859)),
 (14, 'Corene', 'Kohrsen', 'ckohrsen3@buzzfeed.com', False, None, 'U', False, datetime.date(2020, 4, 15), datetime.datetime(2022, 1, 6, 23, 40, 18, 156859)),
 (15, 'Darill', 'Halsall', 'dhalsall4@intel.com', False, None, 'U', False, datetime.date(2020, 10, 10), datetime.datetime(2022, 1, 6, 23, 40, 18, 156859))]

In [21]:
users_query = 'SELECT * from users'

In [23]:
cursor.execute(users_query)

In [24]:
for user in cursor:
    print(user)

(11, 'Gordan', 'Bradock', 'gbradock0@barnesandnoble.com', False, None, 'A', False, datetime.date(2020, 1, 10), datetime.datetime(2022, 1, 6, 23, 37, 52, 160880))
(12, 'Tobe', 'Lyness', 'tlyness1@paginegialle.it', False, None, 'U', False, datetime.date(2020, 2, 10), datetime.datetime(2022, 1, 6, 23, 40, 18, 156859))
(13, 'Addie', 'Mesias', 'amesias2@twitpic.com', False, None, 'U', False, datetime.date(2020, 3, 5), datetime.datetime(2022, 1, 6, 23, 40, 18, 156859))
(14, 'Corene', 'Kohrsen', 'ckohrsen3@buzzfeed.com', False, None, 'U', False, datetime.date(2020, 4, 15), datetime.datetime(2022, 1, 6, 23, 40, 18, 156859))
(15, 'Darill', 'Halsall', 'dhalsall4@intel.com', False, None, 'U', False, datetime.date(2020, 10, 10), datetime.datetime(2022, 1, 6, 23, 40, 18, 156859))

In [25]:
cursor.close()

In [26]:
connection.close()