# Date Manipulation Functions:
Let us go through some of the important date manipulation functions.
* Getting Current Date and Timestamp
* Date Arithmetic using INTERVAL and - operator
* Getting beginning date or time using date_trunc
* Extracting information using to_char as well as calendar functions.
* Dealing with unix timestamp using from_unixtime, to_unix_timestamp

## Getting Current Date and Timestamp:
Let us understand how to get the details about current or today’s date as well as current timestamp.

In [1]:
%load_ext sql

In [2]:
%env DATABASE_URL=postgresql://retail_user:retail_password@localhost:5432/retail_db

env: DATABASE_URL=postgresql://retail_user:retail_password@localhost:5432/retail_db

* current_date is the function or operator which will return today’s date.
* current_timestamp is the function or operator which will return current time up to milliseconds.
* These are not like other functions and do not use () at the end.
* There is a format associated with date and timestamp.
    * Date - yyyy-MM-dd
    * Timestamp - yyyy-MM-dd HH:mm:ss.SSS
* We can apply all string manipulation functions on date or timestamp once they are typecasted to strings using varchar.

In [3]:
%%sql

SELECT current_date AS current_date

1 rows affected.

[(datetime.date(2021, 12, 16),)]

In [4]:
%%sql

SELECT current_timestamp AS current_timestamp

 * postgresql://retail_user:***@localhost:5432/retail_db
1 rows affected.

[(datetime.datetime(2021, 12, 16, 2, 13, 27, 47843, tzinfo=datetime.timezone.utc),)]

## Note: 
Example of applying string manipulation functions on dates. However, it is not a good practice. Postgres provide functions on dates or timestamps for most of the common requirements.

In [6]:
%%sql

SELECT substring(current_date::varchar, 1, 4) AS YEAR

 * postgresql://retail_user:***@localhost:5432/retail_db
1 rows affected.

[('2021',)]

## Date Arithmetic:
Let us understand how to perform arithmetic on dates or timestamps.
* We can add or subtract days or months or years from date or timestamp by using special operator called as INTERVAL.
* We can also add or subtract hours, minutes, seconds etc from date or timestamp using INTERVAL.
* We can combine multiple criteria in one operation using INTERVAL
* We can get difference between 2 dates or timestamps using minus (-) operator.

In [7]:
%%sql

SELECT current_date + INTERVAL '32 DAYS' AS result

 * postgresql://retail_user:***@localhost:5432/retail_db
1 rows affected.

[(datetime.datetime(2022, 1, 17, 0, 0),)]

In [8]:
%%sql

SELECT current_date + INTERVAL '730 DAYS' AS result

 * postgresql://retail_user:***@localhost:5432/retail_db
1 rows affected.

[(datetime.datetime(2023, 12, 16, 0, 0),)]

In [9]:
%%sql

SELECT current_date + INTERVAL '-730 DAYS' AS result

 * postgresql://retail_user:***@localhost:5432/retail_db
1 rows affected.

[(datetime.datetime(2019, 12, 17, 0, 0),)]

In [10]:
%%sql

SELECT current_date - INTERVAL '730 DAYS' AS result

 * postgresql://retail_user:***@localhost:5432/retail_db
1 rows affected.

[(datetime.datetime(2019, 12, 17, 0, 0),)]

In [11]:
%%sql

SELECT current_date + INTERVAL '3 MONTHS' AS result;

 * postgresql://retail_user:***@localhost:5432/retail_db
1 rows affected.

[(datetime.datetime(2022, 3, 16, 0, 0),)]

In [12]:
%%sql

SELECT '2019-01-31'::date + INTERVAL '3 MONTHS' AS resul

 * postgresql://retail_user:***@localhost:5432/retail_db
1 rows affected.

[(datetime.datetime(2019, 4, 30, 0, 0),)]

In [13]:
%%sql

SELECT '2019-01-31'::date + INTERVAL '3 MONTHS 3 DAYS 3 HOURS' AS result

 * postgresql://retail_user:***@localhost:5432/retail_db
1 rows affected.

[(datetime.datetime(2019, 5, 3, 3, 0),)]

In [14]:
%%sql

SELECT current_timestamp + INTERVAL '3 MONTHS' AS result

 * postgresql://retail_user:***@localhost:5432/retail_db
1 rows affected.

[(datetime.datetime(2022, 3, 16, 2, 20, 31, 384078, tzinfo=datetime.timezone.utc),)]

In [15]:
%%sql

SELECT current_timestamp + INTERVAL '10 HOURS' AS result

 * postgresql://retail_user:***@localhost:5432/retail_db
1 rows affected.

[(datetime.datetime(2021, 12, 16, 12, 20, 45, 512255, tzinfo=datetime.timezone.utc),)]

In [16]:
%%sql

SELECT current_timestamp + INTERVAL '10 MINUTES' AS result

 * postgresql://retail_user:***@localhost:5432/retail_db
1 rows affected.

[(datetime.datetime(2021, 12, 16, 2, 31, 31, 260240, tzinfo=datetime.timezone.utc),)]

In [17]:
%%sql

SELECT current_timestamp + INTERVAL '10 HOURS 10 MINUTES' AS result

 * postgresql://retail_user:***@localhost:5432/retail_db
1 rows affected.

[(datetime.datetime(2021, 12, 16, 12, 31, 44, 661706, tzinfo=datetime.timezone.utc),)]

In [18]:
%%sql

SELECT '2019-03-30'::date - '2017-12-31'::date AS result

 * postgresql://retail_user:***@localhost:5432/retail_db
1 rows affected.

[(454,)]

In [19]:
%%sql

SELECT '2017-12-31'::date - '2019-03-30'::date AS result

 * postgresql://retail_user:***@localhost:5432/retail_db
1 rows affected.

[(-454,)]

In [20]:
%%sql

SELECT current_date - '2019-03-30'::date AS result

 * postgresql://retail_user:***@localhost:5432/retail_db
1 rows affected.

[(992,)]

In [21]:
%%sql

SELECT current_timestamp - '2019-03-30'::date AS result

 * postgresql://retail_user:***@localhost:5432/retail_db
1 rows affected.

[(datetime.timedelta(992, 8612, 894361),)]

## Beginning Date or Time - date_trunc:
Let us understand how to use `date_trunc` on dates or timestamps and get beginning date or time.
* We can use `MONTH` to get beginning date of the month.
* `YEAR` can be used to get begining date of the year.

In [22]:
%%sql

SELECT date_trunc('YEAR', current_date) AS year_beginning

 * postgresql://retail_user:***@localhost:5432/retail_db
1 rows affected.

[(datetime.datetime(2021, 1, 1, 0, 0, tzinfo=datetime.timezone.utc),)]

In [23]:
%%sql

SELECT date_trunc('MONTH', current_date) AS month_beginning

 * postgresql://retail_user:***@localhost:5432/retail_db
1 rows affected.

[(datetime.datetime(2021, 12, 1, 0, 0, tzinfo=datetime.timezone.utc),)]

In [24]:
%%sql

SELECT date_trunc('WEEK', current_date) AS week_beginning

 * postgresql://retail_user:***@localhost:5432/retail_db
1 rows affected.

[(datetime.datetime(2021, 12, 13, 0, 0, tzinfo=datetime.timezone.utc),)]

In [25]:
%%sql

SELECT date_trunc('DAY', current_date) AS day_beginning

 * postgresql://retail_user:***@localhost:5432/retail_db
1 rows affected.

[(datetime.datetime(2021, 12, 16, 0, 0, tzinfo=datetime.timezone.utc),)]

In [26]:
%%sql

SELECT date_trunc('HOUR', current_timestamp) AS hour_beginning

 * postgresql://retail_user:***@localhost:5432/retail_db
1 rows affected.

[(datetime.datetime(2021, 12, 16, 2, 0, tzinfo=datetime.timezone.utc),)]

In [27]:
%%sql

SELECT * FROM orders
WHERE order_date BETWEEN date_trunc('MONTH', '2014-01-10'::date) AND '2014-01-10'::date
ORDER BY order_date
LIMIT 10;

 * postgresql://retail_user:***@localhost:5432/retail_db
10 rows affected.

[(25877, datetime.datetime(2014, 1, 1, 0, 0), 5549, 'PENDING_PAYMENT'),
 (25878, datetime.datetime(2014, 1, 1, 0, 0), 9084, 'PENDING'),
 (25879, datetime.datetime(2014, 1, 1, 0, 0), 5118, 'PENDING'),
 (25880, datetime.datetime(2014, 1, 1, 0, 0), 10146, 'CANCELED'),
 (25881, datetime.datetime(2014, 1, 1, 0, 0), 3205, 'PENDING_PAYMENT'),
 (25882, datetime.datetime(2014, 1, 1, 0, 0), 4598, 'COMPLETE'),
 (25883, datetime.datetime(2014, 1, 1, 0, 0), 11764, 'PENDING'),
 (25884, datetime.datetime(2014, 1, 1, 0, 0), 7904, 'PENDING_PAYMENT'),
 (25885, datetime.datetime(2014, 1, 1, 0, 0), 7253, 'PENDING'),
 (25876, datetime.datetime(2014, 1, 1, 0, 0), 3414, 'PENDING_PAYMENT')]

## Extracting information using to_char:
Let us understand how to use `to_char` to extract information from date or timestamp.

Here is how we can get date related information such as year, month, day etc from date or timestamp.

In [28]:
%%sql

SELECT current_timestamp AS current_timestamp

 * postgresql://retail_user:***@localhost:5432/retail_db
1 rows affected.

[(datetime.datetime(2021, 12, 16, 2, 30, 46, 442080, tzinfo=datetime.timezone.utc),)]

In [33]:
%%sql

SELECT current_timestamp AS current_timestamp, 
    to_char(current_timestamp, 'yyyy') AS year, to_date('2020' , 'yyyy') AS to_date

 * postgresql://retail_user:***@localhost:5432/retail_db
1 rows affected.

[(datetime.datetime(2021, 12, 16, 2, 32, 35, 579117, tzinfo=datetime.timezone.utc), '2021', datetime.date(2020, 1, 1))]

In [30]:
%%sql

SELECT current_timestamp AS current_timestamp, 
    to_char(current_timestamp, 'yy') AS year

 * postgresql://retail_user:***@localhost:5432/retail_db
1 rows affected.

[(datetime.datetime(2021, 12, 16, 2, 31, 14, 611986, tzinfo=datetime.timezone.utc), '21')]

In [35]:
%%sql

SELECT current_timestamp AS current_timestamp, 
    to_char(current_timestamp, 'MM') AS month, 
    to_date('202011', 'yyyyMM') AS to_date

 * postgresql://retail_user:***@localhost:5432/retail_db
1 rows affected.

[(datetime.datetime(2021, 12, 16, 2, 33, 59, 841217, tzinfo=datetime.timezone.utc), '12', datetime.date(2020, 11, 1))]

In [36]:
%%sql

SELECT current_timestamp AS current_timestamp, 
    to_char(current_timestamp, 'dd') AS day_of_month,
    to_date('20201110', 'yyyyMMdd') AS to_date

 * postgresql://retail_user:***@localhost:5432/retail_db
1 rows affected.

[(datetime.datetime(2021, 12, 16, 2, 34, 20, 585470, tzinfo=datetime.timezone.utc), '16', datetime.date(2020, 11, 10))]

In [37]:
%%sql

SELECT current_timestamp AS current_timestamp, 
    to_char(current_timestamp, 'DD') AS day_of_month

 * postgresql://retail_user:***@localhost:5432/retail_db
1 rows affected.

[(datetime.datetime(2021, 12, 16, 2, 34, 53, 524192, tzinfo=datetime.timezone.utc), '16')]

In [40]:
%%sql

SELECT current_timestamp AS current_timestamp, 
    to_char(current_timestamp, 'DDD') AS day_of_year,
    to_date('2021350','yyyyDDD') AS day_of_year_to_date

 * postgresql://retail_user:***@localhost:5432/retail_db
1 rows affected.

[(datetime.datetime(2021, 12, 16, 2, 36, 31, 416220, tzinfo=datetime.timezone.utc), '350', datetime.date(2021, 12, 16))]

In [41]:
%%sql

SELECT current_timestamp AS current_timestamp, 
    to_char(current_timestamp, 'Mon') AS month_nam

 * postgresql://retail_user:***@localhost:5432/retail_db
1 rows affected.

[(datetime.datetime(2021, 12, 16, 2, 36, 38, 786835, tzinfo=datetime.timezone.utc), 'Dec')]

In [42]:
%%sql

SELECT current_timestamp AS current_timestamp, 
    to_char(current_timestamp, 'Month') AS month_name

 * postgresql://retail_user:***@localhost:5432/retail_db
1 rows affected.

[(datetime.datetime(2021, 12, 16, 2, 37, 35, 437685, tzinfo=datetime.timezone.utc), 'December ')]

In [43]:
%%sql

SELECT current_timestamp AS current_timestamp, 
    to_char(current_timestamp, 'month') AS month_name

 * postgresql://retail_user:***@localhost:5432/retail_db
1 rows affected.

[(datetime.datetime(2021, 12, 16, 2, 37, 46, 891721, tzinfo=datetime.timezone.utc), 'december ')]

In [44]:
%%sql

SELECT current_timestamp AS current_timestamp, 
    to_char(current_timestamp, 'day') AS day_name

 * postgresql://retail_user:***@localhost:5432/retail_db
1 rows affected.

[(datetime.datetime(2021, 12, 16, 2, 37, 59, 814616, tzinfo=datetime.timezone.utc), 'thursday ')]

In [45]:
%%sql

SELECT current_timestamp AS current_timestamp, 
    to_char(current_timestamp, 'DY') AS day_name

 * postgresql://retail_user:***@localhost:5432/retail_db
1 rows affected.

[(datetime.datetime(2021, 12, 16, 2, 38, 7, 11645, tzinfo=datetime.timezone.utc), 'THU')]

## Note:
When we use Day to get the complete name of a day, it will return 9 character string by padding with spaces.

In [46]:
%%sql

SELECT current_timestamp AS current_timestamp, 
    to_char(current_timestamp, 'Day') AS dayname

 * postgresql://retail_user:***@localhost:5432/retail_db
1 rows affected.

[(datetime.datetime(2021, 12, 16, 2, 38, 43, 159942, tzinfo=datetime.timezone.utc), 'Thursday ')]

In [47]:
%%sql

SELECT current_timestamp AS current_timestamp, 
    to_char('2020-11-17'::date, 'Day') AS dayname,
    length(to_char('2020-11-17'::date, 'Day')) AS dayname_length,
    length(trim(to_char('2020-11-17'::date, 'Day'))) AS dayname_trimmed_length

 * postgresql://retail_user:***@localhost:5432/retail_db
1 rows affected.

[(datetime.datetime(2021, 12, 16, 2, 39, 32, 718993, tzinfo=datetime.timezone.utc), 'Tuesday  ', 9, 7)]

In [48]:
%%sql

SELECT current_timestamp AS current_timestamp, 
    to_char(current_timestamp, 'HH') AS hour24

 * postgresql://retail_user:***@localhost:5432/retail_db
1 rows affected.

[(datetime.datetime(2021, 12, 16, 2, 40, 3, 840541, tzinfo=datetime.timezone.utc), '02')]

In [49]:
%%sql

SELECT current_timestamp AS current_timestamp, 
    to_char(current_timestamp, 'hh') AS hour12

 * postgresql://retail_user:***@localhost:5432/retail_db
1 rows affected.

[(datetime.datetime(2021, 12, 16, 2, 40, 14, 2568, tzinfo=datetime.timezone.utc), '02')]

In [50]:
%%sql

SELECT current_timestamp AS current_timestamp, 
    to_char(current_timestamp, 'mm') AS minutes

 * postgresql://retail_user:***@localhost:5432/retail_db
1 rows affected.

[(datetime.datetime(2021, 12, 16, 2, 40, 29, 326720, tzinfo=datetime.timezone.utc), '12')]

In [51]:
%%sql

SELECT current_timestamp AS current_timestamp, 
    to_char(current_timestamp, 'ss') AS seconds

 * postgresql://retail_user:***@localhost:5432/retail_db
1 rows affected.

[(datetime.datetime(2021, 12, 16, 2, 41, 13, 994372, tzinfo=datetime.timezone.utc), '13')]

In [52]:
%%sql

SELECT current_timestamp AS current_timestamp, 
    to_char(current_timestamp, 'MS') AS millis

 * postgresql://retail_user:***@localhost:5432/retail_db
1 rows affected.

[(datetime.datetime(2021, 12, 16, 2, 41, 20, 523996, tzinfo=datetime.timezone.utc), '523')]

In [54]:
%%sql

SELECT to_char(current_timestamp, 'yyyyMM')::int AS current_month

 * postgresql://retail_user:***@localhost:5432/retail_db
1 rows affected.

[(202112,)]

In [55]:
%%sql

SELECT to_char(current_timestamp, 'yyyyMMdd') AS current_date

 * postgresql://retail_user:***@localhost:5432/retail_db
1 rows affected.

[('20211216',)]

In [56]:
%%sql

SELECT to_char(current_timestamp, 'yyyy/MM/dd') AS current_date

 * postgresql://retail_user:***@localhost:5432/retail_db
1 rows affected.

[('2021/12/16',)]

## Extracting information - extract:
We can get year, month, day etc from date or timestamp using `extract` function. For almost all these scenarios such as getting year, month, day etc we can use `to_char` as well.
* Let us see the usage of `extract` to get information such as year, quarter, month, week, day, hour etc.
* We can also use `date_part` in place of `extract`. However there is subtle difference between them with respect to the syntax.

In [57]:
%%sql

SELECT extract(century FROM current_date) AS century

 * postgresql://retail_user:***@localhost:5432/retail_db
1 rows affected.

[(Decimal('21'),)]

In [58]:
%%sql

SELECT date_part('century', current_date) AS century

 * postgresql://retail_user:***@localhost:5432/retail_db
1 rows affected.

[(21.0,)]

In [59]:
%%sql

SELECT extract(decade FROM current_date) AS decade

 * postgresql://retail_user:***@localhost:5432/retail_db
1 rows affected.

[(Decimal('202'),)]

In [60]:
%%sql

SELECT date_part('decade', current_date) AS century

 * postgresql://retail_user:***@localhost:5432/retail_db
1 rows affected.

[(202.0,)]

In [61]:
%%sql

SELECT extract(year FROM current_date) AS year

 * postgresql://retail_user:***@localhost:5432/retail_db
1 rows affected.

[(Decimal('2021'),)]

In [62]:
%%sql

SELECT extract(quarter FROM current_date) AS quarter

 * postgresql://retail_user:***@localhost:5432/retail_db
1 rows affected.

[(Decimal('4'),)]

In [63]:
%%sql

SELECT extract(month FROM current_date) AS month

 * postgresql://retail_user:***@localhost:5432/retail_db
1 rows affected.

[(Decimal('12'),)]

In [64]:
%%sql

SELECT extract(week FROM current_date) AS week

 * postgresql://retail_user:***@localhost:5432/retail_db
1 rows affected.

[(Decimal('50'),)]

In [65]:
%%sql

SELECT extract(day FROM current_date) AS day

 * postgresql://retail_user:***@localhost:5432/retail_db
1 rows affected.

[(Decimal('16'),)]

In [66]:
%%sql

SELECT extract(doy FROM current_date) AS day_of_year

 * postgresql://retail_user:***@localhost:5432/retail_db
1 rows affected.

[(Decimal('350'),)]

In [67]:
%%sql

SELECT extract(dow FROM current_date) AS day_of_week

 * postgresql://retail_user:***@localhost:5432/retail_db
1 rows affected.

[(Decimal('4'),)]

In [68]:
%%sql

SELECT extract(hour FROM current_timestamp) AS hour

 * postgresql://retail_user:***@localhost:5432/retail_db
1 rows affected.

[(Decimal('2'),)]

In [69]:
%%sql

SELECT extract(minute FROM current_timestamp) AS minute

 * postgresql://retail_user:***@localhost:5432/retail_db
1 rows affected.

[(Decimal('46'),)]

In [70]:
%%sql

SELECT extract(second FROM current_timestamp) AS second

 * postgresql://retail_user:***@localhost:5432/retail_db
1 rows affected.

[(Decimal('24.021269'),)]

In [71]:
%%sql

SELECT extract(milliseconds FROM current_timestamp) AS millis

 * postgresql://retail_user:***@localhost:5432/retail_db
1 rows affected.

[(Decimal('35000.502'),)]

## Dealing with Unix Timestamp:
Let us go through the functions that can be used to deal with Unix Timestamp.
* `extract` with `epoch` can be used to convert Unix epoch to regular timestamp. We can also use `date_part`;
* `to_timestamp` can be used to convert timestamp to Unix epoch.
* We can get Unix epoch or Unix timestamp by running `date '+%s'` in Unix/Linux terminal

Let us see how we can use functions such as extract or to_timestamp to convert between timestamp and Unix timestamp or epoch.
* We can unix epoch in Unix/Linux terminal using `date '+%s'`

In [72]:
%%sql

SELECT extract(epoch FROM current_date) AS date_epoch

 * postgresql://retail_user:***@localhost:5432/retail_db
1 rows affected.

[(Decimal('1639612800'),)]

In [73]:
%%sql

SELECT date_part('epoch', current_date) AS date_epoch

 * postgresql://retail_user:***@localhost:5432/retail_db
1 rows affected.

[(1639612800.0,)]

In [75]:
%%sql

SELECT extract(epoch FROM '2019-04-30 18:18:51'::timestamp) AS unixtime

 * postgresql://retail_user:***@localhost:5432/retail_db
1 rows affected.

[(Decimal('1556648331.000000'),)]

In [76]:
%%sql

SELECT to_timestamp(1556662731) AS time_from_epoch

 * postgresql://retail_user:***@localhost:5432/retail_db
1 rows affected.

[(datetime.datetime(2019, 4, 30, 22, 18, 51, tzinfo=datetime.timezone.utc),)]

In [77]:
%%sql

SELECT to_timestamp(1556662731)::date AS time_from_epoch

 * postgresql://retail_user:***@localhost:5432/retail_db
1 rows affected.

[(datetime.date(2019, 4, 30),)]

In [78]:
%%sql

SELECT to_char(to_timestamp(1556662731), 'yyyyMM')::int AS yyyyMM_from_epoch

 * postgresql://retail_user:***@localhost:5432/retail_db
1 rows affected.

[(201904,)]