# Data Type Conversion:
Let us understand how we can type cast to change the data type of extracted value to its original type.

In [1]:
%load_ext sql

In [2]:
%env DATABASE_URL=postgresql://retail_user:retail_password@localhost:5432/retail_db

env: DATABASE_URL=postgresql://retail_user:retail_password@localhost:5432/retail_db

In [3]:
%%sql

SELECT '09'::int

1 rows affected.

[(9,)]

In [4]:
%%sql

SELECT current_date AS current_date

 * postgresql://retail_user:***@localhost:5432/retail_db
1 rows affected.

[(datetime.date(2021, 12, 16),)]

In [5]:
%%sql

SELECT split_part('2020-09-30', '-', 2) AS month

 * postgresql://retail_user:***@localhost:5432/retail_db
1 rows affected.

[('09',)]

In [6]:
%%sql

SELECT split_part('2020-09-30', '-', 2)::int AS month

 * postgresql://retail_user:***@localhost:5432/retail_db
1 rows affected.

[(9,)]

In [7]:
%%sql

SELECT to_char('2020-09-30'::date, 'MM') AS month

 * postgresql://retail_user:***@localhost:5432/retail_db
1 rows affected.

[('09',)]

In [8]:
%%sql

SELECT to_char('2020-09-30'::date, 'MM')::int AS month

 * postgresql://retail_user:***@localhost:5432/retail_db
1 rows affected.

[(9,)]

In [9]:
%%sql

SELECT to_char(current_date, 'MM')::int AS month

 * postgresql://retail_user:***@localhost:5432/retail_db
1 rows affected.

[(12,)]

In [10]:
%%sql

SELECT cast('0.04000' AS FLOAT) AS result

 * postgresql://retail_user:***@localhost:5432/retail_db
1 rows affected.

[(0.04,)]

In [11]:
%%sql

SELECT '0.04000'::float AS result

 * postgresql://retail_user:***@localhost:5432/retail_db
1 rows affected.

[(0.04,)]

In [12]:
%%sql

SELECT '09'::int AS result

 * postgresql://retail_user:***@localhost:5432/retail_db
1 rows affected.

[(9,)]