In [1]:
%load_ext sql

In [2]:
%env DATABASE_URL=postgresql://sms_user:sms_password@localhost:5432/sms_db

env: DATABASE_URL=postgresql://sms_user:sms_password@localhost:5432/sms_db

In [3]:
%%sql
SELECT * FROM information_schema.tables
WHERE table_catalog = 'sms_db' AND table_schema = 'public' 
LIMIT 10

1 rows affected.

[('sms_db', 'public', 'users', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None)]

In [4]:
%%sql

DROP TABLE IF EXISTS users;

 * postgresql://sms_user:***@localhost:5432/sms_db
Done.

[]

In [5]:
%%sql
CREATE TABLE users (
    user_id SERIAL PRIMARY KEY,
    user_first_name VARCHAR(30) NOT NULL,
    user_last_name VARCHAR(30) NOT NULL,
    user_email_id VARCHAR(50) NOT NULL,
    user_email_validated BOOLEAN DEFAULT FALSE,
    user_password VARCHAR(200),
    user_role VARCHAR(1) NOT NULL DEFAULT 'U', --U AND A
    is_active BOOLEAN DEFAULT FALSE,
    create_ts TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
    last_updated_ts TIMESTAMP DEFAULT CURRENT_TIMESTAMP
)

 * postgresql://sms_user:***@localhost:5432/sms_db
Done.

[]

In [6]:
%%sql
SELECT * FROM information_schema.tables
WHERE table_catalog = 'sms_db' AND table_schema = 'public' 
LIMIT 10

 * postgresql://sms_user:***@localhost:5432/sms_db
1 rows affected.

[('sms_db', 'public', 'users', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None)]

In [7]:
%%sql

SELECT * FROM information_schema.columns
WHERE table_name = 'users'
ORDER BY ordinal_position
LIMIT 10

 * postgresql://sms_user:***@localhost:5432/sms_db
10 rows affected.

[('sms_db', 'public', 'users', 'user_id', 1, "nextval('users_user_id_seq'::regclass)", 'NO', 'integer', None, None, 32, 2, 0, None, None, None, None, None, None, None, None, None, None, None, None, 'sms_db', 'pg_catalog', 'int4', None, None, None, None, '1', 'NO', 'NO', None, None, None, None, None, 'NO', 'NEVER', None, 'YES'),
 ('sms_db', 'public', 'users', 'user_first_name', 2, None, 'NO', 'character varying', 30, 120, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, 'sms_db', 'pg_catalog', 'varchar', None, None, None, None, '2', 'NO', 'NO', None, None, None, None, None, 'NO', 'NEVER', None, 'YES'),
 ('sms_db', 'public', 'users', 'user_last_name', 3, None, 'NO', 'character varying', 30, 120, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, 'sms_db', 'pg_catalog', 'varchar', None, None, None, None, '3', 'NO', 'NO', None, None, None, None, None, 'NO', 'NEVER', None, 'YES'),
 ('sms_db', 'public', 'users', 'user_email_id', 4, None, 'NO', 'character varying', 50, 200, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, 'sms_db', 'pg_catalog', 'varchar', None, None, None, None, '4', 'NO', 'NO', None, None, None, None, None, 'NO', 'NEVER', None, 'YES'),
 ('sms_db', 'public', 'users', 'user_email_validated', 5, 'false', 'YES', 'boolean', None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, 'sms_db', 'pg_catalog', 'bool', None, None, None, None, '5', 'NO', 'NO', None, None, None, None, None, 'NO', 'NEVER', None, 'YES'),
 ('sms_db', 'public', 'users', 'user_password', 6, None, 'YES', 'character varying', 200, 800, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, 'sms_db', 'pg_catalog', 'varchar', None, None, None, None, '6', 'NO', 'NO', None, None, None, None, None, 'NO', 'NEVER', None, 'YES'),
 ('sms_db', 'public', 'users', 'user_role', 7, "'U'::character varying", 'NO', 'character varying', 1, 4, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, 'sms_db', 'pg_catalog', 'varchar', None, None, None, None, '7', 'NO', 'NO', None, None, None, None, None, 'NO', 'NEVER', None, 'YES'),
 ('sms_db', 'public', 'users', 'is_active', 8, 'false', 'YES', 'boolean', None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, 'sms_db', 'pg_catalog', 'bool', None, None, None, None, '8', 'NO', 'NO', None, None, None, None, None, 'NO', 'NEVER', None, 'YES'),
 ('sms_db', 'public', 'users', 'create_ts', 9, 'CURRENT_TIMESTAMP', 'YES', 'timestamp without time zone', None, None, None, None, None, 6, None, None, None, None, None, None, None, None, None, None, None, 'sms_db', 'pg_catalog', 'timestamp', None, None, None, None, '9', 'NO', 'NO', None, None, None, None, None, 'NO', 'NEVER', None, 'YES'),
 ('sms_db', 'public', 'users', 'last_updated_ts', 10, 'CURRENT_TIMESTAMP', 'YES', 'timestamp without time zone', None, None, None, None, None, 6, None, None, None, None, None, None, None, None, None, None, None, 'sms_db', 'pg_catalog', 'timestamp', None, None, None, None, '10', 'NO', 'NO', None, None, None, None, None, 'NO', 'NEVER', None, 'YES')]

In [8]:
%sql Select * from users

 * postgresql://sms_user:***@localhost:5432/sms_db
0 rows affected.

[]