In [2]:
%load_ext sql

In [3]:
%env DATABASE_URL=postgresql://sms_user:sms_password@localhost:5432/sms_db

env: DATABASE_URL=postgresql://sms_user:sms_password@localhost:5432/sms_db

In [4]:
%sql SELECT user_id, user_password FROM users

6 rows affected.

[(2, None),
 (3, None),
 (4, 'h9LAz7p7ub'),
 (5, 'oEofndp'),
 (6, 'ih7Y69u56'),
 (1, None)]

In [5]:
%sql DELETE FROM users WHERE user_password IS NULL

 * postgresql://sms_user:***@localhost:5432/sms_db
3 rows affected.

[]

In [6]:
%sql SELECT user_id, user_password FROM users

 * postgresql://sms_user:***@localhost:5432/sms_db
3 rows affected.

[(4, 'h9LAz7p7ub'), (5, 'oEofndp'), (6, 'ih7Y69u56')]

In [7]:
%sql SELECT count(1) FROM users

 * postgresql://sms_user:***@localhost:5432/sms_db
1 rows affected.

[(3,)]