In [1]:
%load_ext sql

In [2]:
%env DATABASE_URL=postgresql://sms_user:sms_password@localhost:5432/sms_db

env: DATABASE_URL=postgresql://sms_user:sms_password@localhost:5432/sms_db

Exercise 1: Create table - courses:

    course_id - sequence generated integer and primary key
    course_name - which holds alpha numeric or string values up to 60 characters
    course_author - which holds the name of the author up to 40 characters
    course_status - which holds one of these values (published, draft, inactive).
    course_published_dt - which holds date type value.

In [3]:
%%sql 
CREATE TABLE courses(
    course_id SERIAL PRIMARY KEY,
    course_name VARCHAR(60) NOT NULL,
    course_author VARCHAR(60) NOT NULL,
    course_status VARCHAR(9),
    course_published_dt DATE
);

Done.

[]

Exercise 2: Insert Data into the Table

In [4]:
%%sql 
INSERT INTO courses(course_name,course_author, course_status, course_published_dt)
VALUES
    ('Programming using Python','Bob Dillon', 'published', '2020-09-30' ),
    ('Data Engineering using Python', 'Bob Dillon', 'published', '2020-07-15'),
    ('Data Engineering using Scala', 'Elvis Presley', 'draft', NULL),
    ('Programming using Scala', 'Elvis Presley', 'published', '2020-05-12'),
    ('Programming using Java', 'Mike Jack' , 'inactive', '2020-08-10'),
    ('Web Applications - Python Flask', 'Bob Dillon', 'inactive', '2020-07-20'),
    ('Web Applications - Java Spring', 'Mike Jack', 'draft', NULL),
    ('Pipeline Orchestration - Python', 'Bob Dillon', 'draft', NULL),
    ('Streaming Pipelines - Python', 'Bob Dillon', 'published', '2020-10-05'),
    ('Web Applications - Scala Play', 'Elvis Presley', 'inactive', '2020-09-30'),
    ('Web Applications - Python Django', 'Bob Dillon', 'published', '2020-06-23'),
    ('Server Automation - Ansible', 'Uncle Sam', 'published', '2020-07-05');

 * postgresql://sms_user:***@localhost:5432/sms_db
12 rows affected.

[]

In [5]:
%sql SELECT * FROM courses

 * postgresql://sms_user:***@localhost:5432/sms_db
12 rows affected.

[(1, 'Programming using Python', 'Bob Dillon', 'published', datetime.date(2020, 9, 30)),
 (2, 'Data Engineering using Python', 'Bob Dillon', 'published', datetime.date(2020, 7, 15)),
 (3, 'Data Engineering using Scala', 'Elvis Presley', 'draft', None),
 (4, 'Programming using Scala', 'Elvis Presley', 'published', datetime.date(2020, 5, 12)),
 (5, 'Programming using Java', 'Mike Jack', 'inactive', datetime.date(2020, 8, 10)),
 (6, 'Web Applications - Python Flask', 'Bob Dillon', 'inactive', datetime.date(2020, 7, 20)),
 (7, 'Web Applications - Java Spring', 'Mike Jack', 'draft', None),
 (8, 'Pipeline Orchestration - Python', 'Bob Dillon', 'draft', None),
 (9, 'Streaming Pipelines - Python', 'Bob Dillon', 'published', datetime.date(2020, 10, 5)),
 (10, 'Web Applications - Scala Play', 'Elvis Presley', 'inactive', datetime.date(2020, 9, 30)),
 (11, 'Web Applications - Python Django', 'Bob Dillon', 'published', datetime.date(2020, 6, 23)),
 (12, 'Server Automation - Ansible', 'Uncle Sam', 'published', datetime.date(2020, 7, 5))]

Exercise 3 - Updating Data:
Update the status of all the draft courses related to Python and Scala to published along with the course_published_dt using system date.

Provide the update statement as answer for this exercise.

In [6]:
%%sql
UPDATE courses
SET
    course_status = 'published', 
    course_published_dt = current_date
WHERE
    course_status = 'draft' AND
    (course_name LIKE '%Python%' OR course_name LIKE '%Scala%');

 * postgresql://sms_user:***@localhost:5432/sms_db
2 rows affected.

[]

In [7]:
%sql SELECT * FROM courses

 * postgresql://sms_user:***@localhost:5432/sms_db
12 rows affected.

[(1, 'Programming using Python', 'Bob Dillon', 'published', datetime.date(2020, 9, 30)),
 (2, 'Data Engineering using Python', 'Bob Dillon', 'published', datetime.date(2020, 7, 15)),
 (4, 'Programming using Scala', 'Elvis Presley', 'published', datetime.date(2020, 5, 12)),
 (5, 'Programming using Java', 'Mike Jack', 'inactive', datetime.date(2020, 8, 10)),
 (6, 'Web Applications - Python Flask', 'Bob Dillon', 'inactive', datetime.date(2020, 7, 20)),
 (7, 'Web Applications - Java Spring', 'Mike Jack', 'draft', None),
 (9, 'Streaming Pipelines - Python', 'Bob Dillon', 'published', datetime.date(2020, 10, 5)),
 (10, 'Web Applications - Scala Play', 'Elvis Presley', 'inactive', datetime.date(2020, 9, 30)),
 (11, 'Web Applications - Python Django', 'Bob Dillon', 'published', datetime.date(2020, 6, 23)),
 (12, 'Server Automation - Ansible', 'Uncle Sam', 'published', datetime.date(2020, 7, 5)),
 (3, 'Data Engineering using Scala', 'Elvis Presley', 'published', datetime.date(2021, 12, 8)),
 (8, 'Pipeline Orchestration - Python', 'Bob Dillon', 'published', datetime.date(2021, 12, 8))]

Exercise 4 - Deleting Data
Delete all the courses which are neither in draft mode nor published.

Provide the delete statement as answer for this exercise.

Validation - Get count of all published courses by author and make sure output is sorted in descending order by count.

In [8]:
%sql DELETE FROM courses WHERE course_status != 'draft' AND course_status != 'published';

 * postgresql://sms_user:***@localhost:5432/sms_db
3 rows affected.

[]

In [9]:
%%sql
SELECT course_author, count(1) AS course_count
FROM courses
WHERE course_status= 'published'
GROUP BY course_author

 * postgresql://sms_user:***@localhost:5432/sms_db
3 rows affected.

[('Bob Dillon', 5), ('Elvis Presley', 2), ('Uncle Sam', 1)]