In [1]:
%load_ext sql

In [2]:
%env DATABASE_URL=postgresql://retail_user:retail_password@localhost:5432/retail_db

env: DATABASE_URL=postgresql://retail_user:retail_password@localhost:5432/retail_db

LEFT OUTER JOIN (default) - Get all the records from both the datasets which satisfies JOIN condition along with those records which are in the left side table but not in the right side table.

RIGHT OUTER JOIN - Get all the records from both the datasets which satisfies JOIN condition along with those records which are in the right side table but not in the left side table.

FULL OUTER JOIN - left union right

When we perform the outer join (lets say left outer join), we will see this.

Get all the values from both the tables when join condition satisfies.

If there are rows on left side table for which there are no corresponding values in right side table, all the projected column values for right side table will be null.

Here are some of the examples for outer join.

Get all the orders where there are no corresponding order items.

Get all the order items where there are no corresponding orders.

In [3]:
%%sql
SELECT o.order_id, o.order_date, o.order_status, oi.order_item_order_id, oi.order_item_subtotal
FROM orders o LEFT OUTER JOIN order_items oi 
    ON o.order_id = oi.order_item_order_id
ORDER BY o.order_id
LIMIT 10;

10 rows affected.

[(1, datetime.datetime(2013, 7, 25, 0, 0), 'CLOSED', 1, 299.98),
 (2, datetime.datetime(2013, 7, 25, 0, 0), 'PENDING_PAYMENT', 2, 129.99),
 (2, datetime.datetime(2013, 7, 25, 0, 0), 'PENDING_PAYMENT', 2, 250.0),
 (2, datetime.datetime(2013, 7, 25, 0, 0), 'PENDING_PAYMENT', 2, 199.99),
 (3, datetime.datetime(2013, 7, 25, 0, 0), 'COMPLETE', None, None),
 (4, datetime.datetime(2013, 7, 25, 0, 0), 'CLOSED', 4, 199.92),
 (4, datetime.datetime(2013, 7, 25, 0, 0), 'CLOSED', 4, 150.0),
 (4, datetime.datetime(2013, 7, 25, 0, 0), 'CLOSED', 4, 299.95),
 (4, datetime.datetime(2013, 7, 25, 0, 0), 'CLOSED', 4, 49.98),
 (5, datetime.datetime(2013, 7, 25, 0, 0), 'COMPLETE', 5, 299.98)]

In [4]:
%%sql

SELECT count(1)
FROM orders o LEFT OUTER JOIN order_items oi
    ON o.order_id = oi.order_item_order_id

 * postgresql://retail_user:***@localhost:5432/retail_db
1 rows affected.

[(183650,)]

In [5]:
%%sql

SELECT count(1)
FROM orders o JOIN order_items oi
    ON o.order_id = oi.order_item_order_id

 * postgresql://retail_user:***@localhost:5432/retail_db
1 rows affected.

[(172198,)]

In [6]:
%%sql
SELECT o.order_id,
    o.order_date,
    o.order_status,
    oi.order_item_order_id,
    oi.order_item_subtotal
FROM orders o LEFT OUTER JOIN order_items oi
    ON o.order_id = oi.order_item_order_id
WHERE oi.order_item_order_id IS NULL
ORDER BY o.order_id
LIMIT 10;

 * postgresql://retail_user:***@localhost:5432/retail_db
10 rows affected.

[(3, datetime.datetime(2013, 7, 25, 0, 0), 'COMPLETE', None, None),
 (6, datetime.datetime(2013, 7, 25, 0, 0), 'COMPLETE', None, None),
 (22, datetime.datetime(2013, 7, 25, 0, 0), 'COMPLETE', None, None),
 (26, datetime.datetime(2013, 7, 25, 0, 0), 'COMPLETE', None, None),
 (32, datetime.datetime(2013, 7, 25, 0, 0), 'COMPLETE', None, None),
 (40, datetime.datetime(2013, 7, 25, 0, 0), 'PENDING_PAYMENT', None, None),
 (47, datetime.datetime(2013, 7, 25, 0, 0), 'PENDING_PAYMENT', None, None),
 (53, datetime.datetime(2013, 7, 25, 0, 0), 'PROCESSING', None, None),
 (54, datetime.datetime(2013, 7, 25, 0, 0), 'PENDING_PAYMENT', None, None),
 (55, datetime.datetime(2013, 7, 25, 0, 0), 'PENDING', None, None)]

In [7]:
%%sql

SELECT count(1)
FROM orders o LEFT OUTER JOIN order_items oi
    ON o.order_id = oi.order_item_order_id
WHERE oi.order_item_order_id IS NULL

 * postgresql://retail_user:***@localhost:5432/retail_db
1 rows affected.

[(11452,)]

In [9]:
%%sql

SELECT count(1)
FROM orders o LEFT OUTER JOIN order_items oi
    ON o.order_id = oi.order_item_order_id
WHERE oi.order_item_order_id IS NULL
    AND o.order_status IN ('COMPLETE', 'CLOSED')

 * postgresql://retail_user:***@localhost:5432/retail_db
1 rows affected.

[(5189,)]

In [10]:
%%sql

SELECT o.order_id,
    o.order_date,
    o.order_status,
    oi.order_item_order_id,
    oi.order_item_subtotal
FROM orders o RIGHT OUTER JOIN order_items oi
    ON o.order_id = oi.order_item_order_id
LIMIT 10

 * postgresql://retail_user:***@localhost:5432/retail_db
10 rows affected.

[(1, datetime.datetime(2013, 7, 25, 0, 0), 'CLOSED', 1, 299.98),
 (2, datetime.datetime(2013, 7, 25, 0, 0), 'PENDING_PAYMENT', 2, 199.99),
 (2, datetime.datetime(2013, 7, 25, 0, 0), 'PENDING_PAYMENT', 2, 250.0),
 (2, datetime.datetime(2013, 7, 25, 0, 0), 'PENDING_PAYMENT', 2, 129.99),
 (4, datetime.datetime(2013, 7, 25, 0, 0), 'CLOSED', 4, 49.98),
 (4, datetime.datetime(2013, 7, 25, 0, 0), 'CLOSED', 4, 299.95),
 (4, datetime.datetime(2013, 7, 25, 0, 0), 'CLOSED', 4, 150.0),
 (4, datetime.datetime(2013, 7, 25, 0, 0), 'CLOSED', 4, 199.92),
 (5, datetime.datetime(2013, 7, 25, 0, 0), 'COMPLETE', 5, 299.98),
 (5, datetime.datetime(2013, 7, 25, 0, 0), 'COMPLETE', 5, 299.95)]

In [11]:
%%sql

SELECT count(1)
FROM orders o RIGHT OUTER JOIN order_items oi
    ON o.order_id = oi.order_item_order_id

 * postgresql://retail_user:***@localhost:5432/retail_db
1 rows affected.

[(172198,)]

In [12]:
%%sql

SELECT o.order_id,
    o.order_date,
    o.order_status,
    oi.order_item_order_id,
    oi.order_item_subtotal
FROM orders o RIGHT OUTER JOIN order_items oi
    ON o.order_id = oi.order_item_order_id
WHERE o.order_id IS NULL
LIMIT 10

 * postgresql://retail_user:***@localhost:5432/retail_db
0 rows affected.

[]