In [1]:
%run Data_Set_items.ipynb

In [5]:
orders_filtered = filter(
    lambda order: int(order.split(',')[1][:7].replace('-', '')) == 201307,
    orders
)

In [4]:
list(orders_filtered)[:10]

['1,2013-07-25 00:00:00.0,11599,CLOSED',
 '2,2013-07-25 00:00:00.0,256,PENDING_PAYMENT',
 '3,2013-07-25 00:00:00.0,12111,COMPLETE',
 '4,2013-07-25 00:00:00.0,8827,CLOSED',
 '5,2013-07-25 00:00:00.0,11318,COMPLETE',
 '6,2013-07-25 00:00:00.0,7130,COMPLETE',
 '7,2013-07-25 00:00:00.0,4530,COMPLETE',
 '8,2013-07-25 00:00:00.0,2911,PROCESSING',
 '9,2013-07-25 00:00:00.0,5657,PENDING_PAYMENT',
 '10,2013-07-25 00:00:00.0,5648,PENDING_PAYMENT']

In [6]:
orders_mapped = map(
    lambda order: 1,
    orders
)

In [7]:
from functools import reduce
reduce?

Docstring:
reduce(function, sequence[, initial]) -> value

Apply a function of two arguments cumulatively to the items of a sequence,
from left to right, so as to reduce the sequence to a single value.
For example, reduce(lambda x, y: x+y, [1, 2, 3, 4, 5]) calculates
((((1+2)+3)+4)+5).  If initial is present, it is placed before the items
of the sequence in the calculation, and serves as a default when the
sequence is empty.
Type:      builtin_function_or_method

In [8]:
reduce(
    lambda tot, ele: tot + ele,
    orders_mapped
)

68883

# Task 2:
Use order items data set and compute total revenue generated for a given product_id.
* Filter for given product_id.
* Extract order_item_subtotal for each item.
* Aggregate to get the revenue for a given product id.

In [9]:
items_for_product = filter(
    lambda order_item: int(order_item.split(',')[2]) == 502,
    order_items
)

In [10]:
list(items_for_product)[:10]

['3,2,502,5,250.0,50.0',
 '7,4,502,3,150.0,50.0',
 '20,8,502,1,50.0,50.0',
 '38,12,502,5,250.0,50.0',
 '42,14,502,1,50.0,50.0',
 '43,15,502,1,50.0,50.0',
 '60,20,502,5,250.0,50.0',
 '67,21,502,2,100.0,50.0',
 '70,24,502,1,50.0,50.0',
 '71,24,502,5,250.0,50.0']

In [11]:
items_for_product = filter(
    lambda order_item: int(order_item.split(',')[2]) == 502,
    order_items
)
item_subtotals = map(
    lambda order_item: float(order_item.split(',')[4]),
    items_for_product
)

In [12]:
list(items_for_product)[:10]

['3,2,502,5,250.0,50.0',
 '7,4,502,3,150.0,50.0',
 '20,8,502,1,50.0,50.0',
 '38,12,502,5,250.0,50.0',
 '42,14,502,1,50.0,50.0',
 '43,15,502,1,50.0,50.0',
 '60,20,502,5,250.0,50.0',
 '67,21,502,2,100.0,50.0',
 '70,24,502,1,50.0,50.0',
 '71,24,502,5,250.0,50.0']

In [13]:
items_for_product = filter(
    lambda order_item: int(order_item.split(',')[2]) == 502,
    order_items
)
item_subtotals = map(
    lambda order_item: float(order_item.split(',')[4]),
    items_for_product
)

In [14]:
list(item_subtotals)[:10]

[250.0, 150.0, 50.0, 250.0, 50.0, 50.0, 250.0, 100.0, 50.0, 250.0]

In [15]:
items_for_product = filter(
    lambda order_item: int(order_item.split(',')[2]) == 502,
    order_items
)
item_subtotals = map(
    lambda order_item: float(order_item.split(',')[4]),
    items_for_product
)
reduce(
    lambda total_revenue, item_revenue: total_revenue + item_revenue,
    item_subtotals
)

3147800.0

## Note:
We can also aggregate using functions such as add, min, max etc to get the aggregated results.

In [17]:
from operator import add
items_for_product = filter(
    lambda order_item: int(order_item.split(',')[2]) == 502,
    order_items
)
item_subtotals = map(
    lambda order_item: float(order_item.split(',')[4]),
    items_for_product
)
reduce(
    add,
    item_subtotals
)

3147800.0

In [18]:
items_for_product = filter(
    lambda order_item: int(order_item.split(',')[2]) == 502,
    order_items
)
item_subtotals = map(
    lambda order_item: float(order_item.split(',')[4]),
    items_for_product
)
reduce(
    min,
    item_subtotals
)

50.0

# Task 3:
Use order items data set and get total number of items sold as well as total revenue generated for a given product_id.

In [22]:
items_for_product = filter(
    lambda order_item: int(order_item.split(',')[2]) == 502,
    order_items
)

In [23]:
list(items_for_product)[:10]

['3,2,502,5,250.0,50.0',
 '7,4,502,3,150.0,50.0',
 '20,8,502,1,50.0,50.0',
 '38,12,502,5,250.0,50.0',
 '42,14,502,1,50.0,50.0',
 '43,15,502,1,50.0,50.0',
 '60,20,502,5,250.0,50.0',
 '67,21,502,2,100.0,50.0',
 '70,24,502,1,50.0,50.0',
 '71,24,502,5,250.0,50.0']

In [24]:
items_for_product = filter(
    lambda order_item: int(order_item.split(',')[2]) == 502,
    order_items
)
item_details = map(
    lambda order_item: (int(order_item.split(',')[3]), float(order_item.split(',')[4])),
    items_for_product
)

In [25]:
list(item_details)[:10]

[(5, 250.0),
 (3, 150.0),
 (1, 50.0),
 (5, 250.0),
 (1, 50.0),
 (1, 50.0),
 (5, 250.0),
 (2, 100.0),
 (1, 50.0),
 (5, 250.0)]

In [28]:
items_for_product = filter(
    lambda order_item: int(order_item.split(',')[2]) == 502,
    order_items
)
item_details = map(
    lambda order_item: (int(order_item.split(',')[3]), float(order_item.split(',')[4])),
    items_for_product
)
reduce(
    lambda tot, ele: (tot[0] + ele[0], tot[1] + ele[1]),
    item_details
)

(62956, 3147800.0)

In [29]:
items_for_product = filter(
    lambda order_item: int(order_item.split(',')[2]) == 502,
    order_items
)
item_details = map(
    lambda order_item: (int(order_item.split(',')[3]), float(order_item.split(',')[4])),
    items_for_product
)
reduce(
    lambda tot, ele: (tot[0] + ele[0], tot[1] + ele[1]),
    item_details
)

(62956, 3147800.0)

# Task 4:
Create a collection with sales and commission percentage. Using that collection compute total commission amount. If the commission percent is None or not present, treat it as 0.
* Each element in the collection should be a tuple.
* First element is the sales amount and second element is commission percentage.
* Commission for each sale can be computed by multiplying commission percentage with sales (make sure to divide commission percentage by 100).
* Some of the records does not have commission percentage, in that case commission amount for that sale shall be 0

In [30]:
transactions = [(376.0, 8),
(548.23, 14),
(107.93, 8),
(838.22, 14),
(846.85, 21),
(234.84,),
(850.2, 21),
(992.2, 21),
(267.01,),
(958.91, 21),
(412.59,),
(283.14,),
(350.01, 14),
(226.95,),
(132.7, 14)]

In [31]:
transactions[:6]

[(376.0, 8), (548.23, 14), (107.93, 8), (838.22, 14), (846.85, 21), (234.84,)]

In [32]:
transactions_fixed = map(
    lambda sale: sale[0] * (sale[1] / 100 if len(sale) == 2 else 0),
    transactions
)

In [33]:
list(transactions_fixed)

[30.080000000000002,
 76.75220000000002,
 8.634400000000001,
 117.35080000000002,
 177.8385,
 0.0,
 178.542,
 208.362,
 0.0,
 201.37109999999998,
 0.0,
 0.0,
 49.001400000000004,
 0.0,
 18.578]

In [34]:
transactions_fixed = map(
    lambda sale: sale[0] * (sale[1] / 100 if len(sale) == 2 else 0),
    transactions
)
reduce(
    lambda tot, ele: round(tot + ele, 2),
    transactions_fixed
)

1066.5

In [35]:
round(
    reduce(
        add,
        map(
            lambda sale: sale[0] * (sale[1] / 100 if len(sale) == 2 else 0),
            transactions
        )
    ), 2
)

1066.51