# Exercises - list and set:
Let us go through some exercises related to list and set.
# Get second largest integer:
Develop a code snippet using list and set manipulation functions to get second largest element from the list.
* List: [1, 5, 2, 1, 7, 5, 7, 3]
* Answer: 5

In [1]:
l = [1, 5, 2, 1, 7, 5, 7, 3]
sorted(set(l))[-2]

5

# Create a list for integers:
Develop a function which take a list as argument and return a new list with only integers. You can develop this using loops.
* The list might contain data with different data types.
* The new list with only integers should be sorted in descending order.
* The new list should only contain unique values

In [15]:
def extract_ints(l):
    res = set()
    for x in l:
        if type(x) == int:
            res.add(x)
    res = sorted(list(res))
    return res[::-1]
r = extract_ints([1, 'Hello', None, 5, 0.15, 1, 5]) 
r

[5, 1]

# Get top n salaries:
Develop a function which take a list of salaries and give us top n salaries. Solve the problem with out using loops.
* The function should take 2 arguments - list of salaries and the top n.
* Based up on the value passed as part of second argument, you should get those many top salaries.
* We should get only unique top n salaries

In [22]:
def top_sals(sals,n):
    sals = list(set(sals))
    return (sorted(sals)[-n:])[::-1]
salaries = [
    18732.8, 12842.28, 13391.69, 14061.23,
    25509.77, 13636.95, 11841.63, 11519.12,
    16719.45, 25066.37, 12842.28, 25066.37
]

print(top_sals(salaries,3))
print(top_sals(salaries,5))

[25509.77, 25066.37, 18732.8]
[25509.77, 25066.37, 18732.8, 16719.45, 14061.23]