# Performing Total Aggregations:
Let us understand how to perform total or global aggregations using Pandas.

In [1]:
%run 05.\ CSV\ to\ Pandas\ Data\ Frame.ipynb

* Getting the number of records in the Data frame and the number of columns

In [3]:
orders.shape

(68883, 4)

In [4]:
orders.shape[0]

68883

In [5]:
order_items.shape[0]

172198

* Getting the number of non np.NaN values in each attribute in a Data Frame

In [6]:
orders.count()

order_id             68883
order_date           68883
order_customer_id    68883
order_status         68883
dtype: int64

In [7]:
type(orders.count())

pandas.core.series.Series

In [8]:
orders.count()['order_id']

68883

In [9]:
orders.order_id.count()

68883

In [10]:
orders['order_id'].count()

68883

* Getting basic statistics of numeric fields of a Data Frame

In [11]:
orders.describe()

           order_id  order_customer_id
count  68883.000000       68883.000000
mean   34442.000000        6216.571099
std    19884.953633        3586.205241
min        1.000000           1.000000
25%    17221.500000        3122.000000
50%    34442.000000        6199.000000
75%    51662.500000        9326.000000
max    68883.000000       12435.000000

In [12]:
order_items[order_items.order_item_order_id == 2]

,order_item_id,order_item_order_id,order_item_product_id,order_item_quantity,order_item_subtotal,order_item_product_price
1,2,2,1073,1,199.99,199.99
2,3,2,502,5,250.00,50.00
3,4,2,403,1,129.99,129.99

In [13]:
order_items[order_items.order_item_order_id == 2].order_item_subtotal

1    199.99
2    250.00
3    129.99
Name: order_item_subtotal, dtype: float64

In [14]:
order_items[order_items.order_item_order_id == 2].order_item_subtotal.sum()

579.98

In [15]:
order_items[order_items.order_item_order_id == 2]['order_item_subtotal'].sum()

579.98

# Task 1:
Use orders and get total number of records for a given month (201401).

In [20]:
orders[orders['order_date'].str.slice(0,7) == '2014-01'].order_id.count() #Daniel initial method

5908

In [21]:
orders.query('order_date.str.startswith("2014-01")', engine='python').order_id.count() #Daniels method practive using query

5908

In [22]:
orders[orders['order_date'].str.slice(0, 7).str.replace('-', '').astype('int64') == 201401]['order_id'].count() #guide method

5908

# Task 2:
Use order_items data set and compute total revenue generated for a given product_id. use 502

In [23]:
order_items.query('order_item_product_id == 502')

,order_item_id,order_item_order_id,order_item_product_id,order_item_quantity,order_item_subtotal,order_item_product_price
2,3,2,502,5,250.0,50.0
6,7,4,502,3,150.0,50.0
19,20,8,502,1,50.0,50.0
37,38,12,502,5,250.0,50.0
41,42,14,502,1,50.0,50.0
...,...,...,...,...,...,...
172151,172152,68861,502,4,200.0,50.0
172173,172174,68871,502,4,200.0,50.0
172189,172190,68880,502,5,250.0,50.0
172195,172196,68882,502,1,50.0,50.0
172197,172198,68883,502,3,150.0,50.0

In [25]:
order_items.query('order_item_product_id == 502').order_item_subtotal.sum()#Daniels mthod

3147800.0

In [26]:
order_items.query('order_item_product_id == 502')['order_item_subtotal'].sum()

3147800.0

# Task 3:
Use order_items data set and get total number of items sold as well as total revenue generated for a given product_id. use 502

In [27]:
order_items_502 = order_items.query('order_item_product_id == 502')
order_items_502

,order_item_id,order_item_order_id,order_item_product_id,order_item_quantity,order_item_subtotal,order_item_product_price
2,3,2,502,5,250.0,50.0
6,7,4,502,3,150.0,50.0
19,20,8,502,1,50.0,50.0
37,38,12,502,5,250.0,50.0
41,42,14,502,1,50.0,50.0
...,...,...,...,...,...,...
172151,172152,68861,502,4,200.0,50.0
172173,172174,68871,502,4,200.0,50.0
172189,172190,68880,502,5,250.0,50.0
172195,172196,68882,502,1,50.0,50.0
172197,172198,68883,502,3,150.0,50.0

In [28]:
order_items_502[['order_item_quantity', 'order_item_subtotal']].sum()

order_item_quantity      62956.0
order_item_subtotal    3147800.0
dtype: float64

In [29]:
tuple(order_items_502[['order_item_quantity', 'order_item_subtotal']].sum())

(62956.0, 3147800.0)

In [30]:
dict(order_items_502[['order_item_quantity', 'order_item_subtotal']].sum())

{'order_item_quantity': 62956.0, 'order_item_subtotal': 3147800.0}

Task 4:
Create a collection with sales and commission percentage. Using that collection compute total commission amount. If the commission percent is None or not present, treat it as 0.
* Each element in the collection should be a tuple.
* First element is the sales amount and second element is commission percentage.
* Commission for each sale can be computed by multiplying commission percentage with sales (make sure to divide commission percentage by 100).
* Some of the records does not have commission percentage, in that case commission amount for that sale shall be 0

In [31]:
transactions = [(376.0, 8),
(548.23, 14),
(107.93, 8),
(838.22, 14),
(846.85, 21),
(234.84,),
(850.2, 21),
(992.2, 21),
(267.01,),
(958.91, 21),
(412.59,),
(283.14,),
(350.01, 14),
(226.95,),
(132.7, 14)]

In [32]:
sales = pd.DataFrame(transactions, columns=['sale_amount','comission_pct'])

In [33]:
sales

    sale_amount  comission_pct
0        376.00            8.0
1        548.23           14.0
2        107.93            8.0
3        838.22           14.0
4        846.85           21.0
5        234.84            NaN
6        850.20           21.0
7        992.20           21.0
8        267.01            NaN
9        958.91           21.0
10       412.59            NaN
11       283.14            NaN
12       350.01           14.0
13       226.95            NaN
14       132.70           14.0

In [34]:
sales = sales.fillna(0.0)

In [35]:
sales

    sale_amount  comission_pct
0        376.00            8.0
1        548.23           14.0
2        107.93            8.0
3        838.22           14.0
4        846.85           21.0
5        234.84            0.0
6        850.20           21.0
7        992.20           21.0
8        267.01            0.0
9        958.91           21.0
10       412.59            0.0
11       283.14            0.0
12       350.01           14.0
13       226.95            0.0
14       132.70           14.0

In [36]:
(sales.sale_amount * (sales.comission_pct / 100)).sum()

1066.5104000000001

In [37]:
(sales.sale_amount * (sales.comission_pct / 100)).sum().round(2)

1066.51